/* start: extension/klepierre-ext/design/local_v2/stylesheets/styles.css */
@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,700&amp;subset=latin,latin-ext);

/*reset*/
html, body, div, span, object, iframe,h1, h2, h3, h4, p, blockquote, pre,a, abbr, acronym, address, big, cite, code, em, img,ins,q,small, strong, sub, sup, b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table,tbody, tfoot, thead, tr, th, td,article, aside,embed,footer, header, nav,section,video,figure,figcaption {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
}

a {
    outline:none;
    color:#000;
    text-decoration:none;
}

article, aside, details,footer, header, menu, nav, section ,main,figure,figcaption {
    display:block;
}
body {
    line-height:1;
    position:inherit !important;
}

ol, ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,q:before, q:after {
    content:'';
    content:none;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

textarea, input, select {
    font-family:Arial, Helvetica, sans-serif;
}

input[type="text"],input[type="password"],textarea,select {
    border:1px solid #dbdbdb;
    padding:1% 4px;
}

input[type="submit"] {
    cursor:pointer;
    font-size:1.167em;
    border:none;
    background-color:transparent}
p {
    line-height:1.6em;
    font-size: 1.2em;
    font-family: roboto;
}

/**FIN RESET**/

/**global**/
.clear {
    clear:both;
}

.int,#wrapper {
    max-width:1189px;
    padding:0 10px;
    margin: auto;
    }

.inactive {
    display:none;
}

#wrapper {
    clear:both;
}
.image img{max-width:100%;}
.rubrique #global {
    float:right;
    width:65.7%;
    overflow: hidden;
    min-height: 1000px;
}

.rubrique #sidebar {
    width:31.5%;
    float:left;
}

.main-link {
    background-color:#333;
    display:block;
    font-family:roboto;
    color:#fff;
    padding:12px 15px;
    text-transform:uppercase;
    text-align:center;
    font-size: 1.1em;
}

.cat {
    font-family:roboto;
    font-weight:700;
    text-transform:uppercase;
    font-size:1.2em;
    display:block;
    margin:20px 0 5px;
    color:#000;
}

article header .cat {
    margin:0 0 5px;
}

.add-wishlist{
    padding:4px 0 4px 30px;
    font-family:roboto;
    font-weight:700;
    text-transform:uppercase;
    background:url(../images/bullet.png) no-repeat -133px -890px;
}


/*gestion h2*/
.rubrique #global>h2,.shopDescription {
    clear:both;
}

#wrapper>h2,#global h2,#blocCatalogue h2 {
    font-family:roboto;
    font-weight:700;
    background:url(../images/bg-title.png) repeat-x 0 5px;
    text-align:center;
    margin:0 0 30px;
    clear:both;
}

#wrapper>h2 span,#global h2 span,#blocCatalogue h2 span {
    font-family:inherit;
    font-weight: 700;
    padding:0 10px;
    font-size:2em;
    text-transform:uppercase;
    background-color:#fff;
    color:#333;
}

#blocCatalogue h2 span {
    background-color:#f7f7f8;
}

h3,#listingArticles h2,#global .resultArticle h2 {
    font-size:1.9em;
    font-family:roboto;
    margin:0 0 3px;
    line-height:1.4em;
    font-weight: 700;
    color:#333;
}

h3 a,#listingArticles h2 a {
    font-family:inherit;
    font-size:inherit;
    color:inherit;
}

/**hover**/
#listingArticles img,.listingCatalogue li img,#sidebar-nav li a,.club-offer a,.filter li,.carousel .previous,.carousel .next,#mainNav >ul >li >a,#topBarSite .blocSocialMedia a,#topBarSite .blocSocialMedia li>a:hover+.contentbloc,#mainNav >ul >li:hover a+.sub-menu li,.rubrique .carousel-catalogue li:hover>a,.fullsizePromo .accessOffer,#listingMovies li a img,#content-more-shop ul li a img {
    -webkit-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    transition:all 0.5s ease;
}

#listingArticles a:hover img,.sub-menu a:hover img,#listingMovies li a img:hover {
    opacity:0.8;
    box-shadow:0px 0px 4px #333;
}

/**pagination**/
#pagination {
    clear:both;
    position:relative;
    padding:20px 0 40px;
    text-align:center;
    line-height:2.7em;
}

#pagination >ul {
    padding:10px 0;
    display:inline;
}

#pagination >ul>li {
    display:inline;
    font-family:roboto;
    font-weight:300;
    font-size:1.5em;
    color:#333;
    margin:0 10px;
}

#pagination >ul .active {
    background-color:#ececec;
    border-radius:20px;
    padding:5px 12px;
}

#pagination #subPagination {
    position:absolute;
    width:100%;
    top:55px;
    left:0;
    background-color:#ececec;
    text-align:center;
    display:none;
}

#pagination #subPagination li {
    display:inline;
    font-family:roboto;
    font-weight:300;
    font-size:1.167em;
    color:#5a5a5a;
    margin:0 7px;
}

#pagination ul a {
    font-family:inherit;
    font-size:inherit;
    color:inherit;
}

#pagination .previous-page,#pagination .next-page {
    text-indent:-9999px;
    background:url(../images/bullet.png) no-repeat -10px -588px;
    width:24px;
    height:26px;
    display:inline-block;
}

#pagination .previous-page {
    background-position:-7px -532px;
}

#accessSub:hover {
    padding-bottom:20px;
    background:url(../images/bullet.png) no-repeat -131px -481px;
    cursor:pointer;
}

body #accessSub:hover #subPagination {
    display:block;
}

#subPagination a:hover {
    text-decoration:underline;
}

/**header**/
header {
    padding:15px 0 70px;
    position:relative;
}

header.header-home{
    padding:15px 0 50px;
}
#logo,#opening {
    position:relative;
    z-index:2;
}

#logo {
    float:left;
    margin:0 0 15px 18px;
}

#logo a{
    line-height:0;
    display:block;
}

#opening {
    float:left;
    width: 54%;
    margin:34px auto 0;
    text-align: center;

}
#opening li {
    width:88%;
    padding:0 6%;
}

#opening a{
    font-family:roboto;
    font-weight:500;
    font-size:1.7em;
    text-transform:uppercase;
    color:#bb9854;
}

#accessMobile {
    display:none;
}

#mainNav {
    clear:both;
    background-color:#000;
}

#mainNav >ul {
    height:56px;
    position:relative;
}

#mainNav ul li {
    float:left;
    width:auto;
}

#mainNav >ul >li >a {
    color:#fff;
    font-family:roboto;
    font-weight:300;
    text-transform:uppercase;
    font-size:1.667em;
    display:block;
    background:url("../images/bullet.png") no-repeat 50% -1106px;
    padding:18px;
}

#mainNav ul .right {
    float:right;
    border-left:1px solid #b3b3b3;
}

#mainNav ul .right a {
    font-family:roboto;
    text-transform:none;
    color:#b3b3b3;
    font-size:1.167em;
    padding:21px 23px 21px 45px;
}

#mainNav ul .right a:hover,#mainNav .sub-menu a:hover {
    text-decoration:underline;
    background-color:transparent;
}

#mainNav ul .wish-list {
    border-right:1px solid #b3b3b3;
}

#mainNav ul .wish-list a {
    background-position:-140px -387px;
}

#mainNav ul .account-access a {
    background-position:-140px -336px;
}

#mainNav ul .gift-card a {
    background-position:-140px -289px;
}

#mainNav .sub-menu {
    position:absolute;
    top:56px;
    left:10px;
    width:98%;
    background-color:#fff;
}

#mainNav .sub-menu li {
    background-color:#f3f3f3;
    padding:0 18px;
    height:0;
    overflow:hidden;
}

#mainNav >ul >li:hover a+.sub-menu li,#mainNav >ul >.active> a+.sub-menu li {
    height:auto;
    padding:12px 18px;
}

#mainNav >ul >li:hover a+.sub-menu {
    z-index:999;
}

#mainNav .sub-menu a {
    font-family:roboto;
    font-weight:300;
    font-size:1.167em;
}

#mainNav .sub-menu .active a {
    text-decoration:underline;
}

#topBarSite {
    position:absolute;
    top:-5px;
    width:100%;
    text-align:right;
}

#topBarSite .int {
    text-align:right;
}

#topBarSite ul, #topBarSite ul>li {
    display:inline-block;
    position:relative;
    vertical-align:middle;
}

#topBarSite .blocSocialMedia li> a {
    background:url("../images/bullet.png") no-repeat 0px 2px;
}

#secondaryNav li {
    margin:0;
}

#secondaryNav li a {
    padding:0 11px;
    font-family:roboto;
    font-weight:300;
    font-size:1.083em;
    color:#333;
    border-right: 1px solid #bababb;
}

#topBarSite .blocSocialMedia {
    margin:0 0 0 9px;
}

#topBarSite .blocSocialMedia li>a {
    display:block;
    width:22px;
    height:22px;
    font-size:0em;
}
/*trad*/
#topBarSite .blocSocialMedia .language a {
    background-position:-123px -1038px;
}

#topBarSite .blocSocialMedia .language-ca a {
    /*background-position:-123px -1038px;*/
    background-position:-151px -1038px;
    width:50px;
}

.goog-te-gadget-simple,#topBarSite .blocSocialMedia .language div div{
    border:none !important;
    padding:0 !important;
}

.goog-te-gadget-simple,#topBarSite .blocSocialMedia .language-ca div div{
    border:none !important;
    padding:0 !important;
}

#google_translate_element {
    border:medium none !important;
    left:-20px;
    z-index:-99999;
}
.blocSocialMedia li a.goog-te-menu-value:hover {
    background:none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
}

/*
img.goog-te-gadget-icon{
    background-image:url("../images/bullet.png") !important;
    background-position:-123px -1038px !important;
    background-repeat:no-repeat !important;   
}
*/

img.goog-te-gadget-icon{
    display:inline-block;
}
#google_translate_element{
    background-image:url("../images/bullet.png") !important;
    background-position:-123px -1038px !important;
    background-repeat:no-repeat !important;
}


.language-ca #google_translate_element div > div > img {
    background-image:url("../images/bullet.png") !important;
    background-position:-123px -1038px !important;
    background-repeat:no-repeat !important;
    margin:0 !important;
    width:50px !important;
    height:22px !important;
}

.language #google_translate_element div > div > img {
    background-image:url("../images/bullet.png") !important;
    background-position:-2px -347px !important;
    background-repeat:no-repeat !important;
    margin:0 !important;
    width:22px !important;
    height:22px !important;
}
.goog-te-gadget-simple > span {
    display:none !important;
}
.goog-te-gadget-simple{
    background-color:transparent !important;
}
/*trad*/

#topBarSite .blocSocialMedia li a {
    position: relative;
    left: 0;
    z-index: 60;
}

#topBarSite .blocSocialMedia .facebook >a {
    background-position:-2px -60px;
}

#topBarSite .blocSocialMedia .facebook:hover >a {
    background-position:-2px -92px;
}

#topBarSite .blocSocialMedia .twitter >a {
    background-position:-1px -125px;
}

#topBarSite .blocSocialMedia .twitter:hover >a {
    background-position:-1px -158px;
}

#topBarSite .blocSocialMedia .pinterest >a {
    background-position:-2px -189px;
}

#topBarSite .blocSocialMedia .pinterest:hover >a {
    background-position:-2px -222px;
}

#topBarSite .blocSocialMedia .instagram >a {
    /*background-position:-36px -290px;*/
    background-position:1px -1197px;
}
#topBarSite .blocSocialMedia .instagram:hover >a {
    background-position:1px -1219px;
}
#topBarSite .blocSocialMedia .youtube >a {
    background-position:0px -740px;
}
#topBarSite .blocSocialMedia .youtube:hover >a {
    background-position:0px -763px;
}


#topBarSite .blocSocialMedia .app >a {
    background-position:-4px -261px;
}

#topBarSite .blocSocialMedia .app:hover >a {
    background-position:-4px -306px;
}

#topBarSite .blocSocialMedia> li{
    padding:10px 0;
}

#topBarSite .blocSocialMedia .logout >a {
    background-position:-36px -257px;
}

#topBarSite .blocSocialMedia .contentbloc {
    position:absolute;
    top:35px;
    right:0;
    height:0;
    overflow:hidden;
    z-index:555;
}

#topBarSite .blocSocialMedia li:hover:before {
    content: "";
    display: block;
    position: absolute;
    height: 22px;
    width: 66px;
    right: -11px;
    top: 27px;
    z-index: 10;
}

#topBarSite .blocSocialMedia li:hover a+.contentbloc {
    height:auto;
    padding:5px;
    background-color:#fff;
    border:1px solid #b3b3b3;
}

header #globalSearch {
    position:absolute;
    width:100%;
    top:52px;
    text-align:right;
}

header #globalSearch fieldset {
    position:relative;
}

header #globalSearch input[type="text"] {
    position: relative;
    z-index: 50;
    width:30%;
    padding:10px 35px 10px 10px;
    font-family:roboto;
    color:#cacaca;
    font-size:1.083em;
}

#autoCompletion {
    border:1px solid #ccc;
    display:none;
    font-style:italic;
    padding:10px 35px 10px 10px;
    position:absolute;
    right:10px;
    text-align:left;
    top:38px;
    width:29.5%;
    background-color:#fff;
}

#autoCompletion li a {
    font-family:roboto;
    font-weight:300;
}

header #globalSearch input[type="text"]:focus {
    color:#000;
}

header #globalSearch input[type="text"]:focus + #autoCompletion {
    display:block;
}

header #globalSearch input[type="submit"] {
    background:url("../images/bullet.png") no-repeat scroll -144px -89px;
    height:35px;
    padding:0;
    position:absolute;
    right:13px;
    top:3px;
    width:35px;
    text-indent:-9999px;
    z-index: 50;
}

/****Slider****/
#sliderHome {
    clear:both;
    float:left;
    margin:0 0 40px 0;
    max-width:904px;
    position:relative;
    width:76%;
}

#slider {
    position:relative;
    overflow:hidden;
}

#slider h2{
    position:absolute;
    top:33%;
    right:50px;
    background:url("../images/bg-slide.png") repeat top left;
    padding:10px;
    text-align:center;
}

#slider h2 span{
    font-family:roboto;
    font-weight:300;
    font-size:3.5em;
    line-height:1.2em;
    color:#555;
}

#slider h2 .first{
    font-weight:100;
}

#sliderHome >li {
    border:1px solid #ccc;
    width:99.7%;
}

#slider li+li {
    display:none;
}

#sliderHome #slider li img {
    display:block;
    width:100%;
}

.rslides_tabs {
    position:absolute;
    bottom:10px;
    left:0;
    width:100%;
    z-index:999;
    text-align:center;
}

.rslides_tabs li {
    display:inline;
}

.rslides_tabs li a {
    display:inline-block;
    width:15px;
    height:15px;
    text-indent:-9999px;
    background:url("../images/bullet.png") no-repeat -156px -203px;
    margin:0 2px;
}

.rslides_tabs .rslides_here a {
    background-position:-156px -248px;
}

#servicesContent {
    float:right;
    width:23.1%;
}

#servicesContent span{
    font-size: 1.3em;
    font-weight: 700;
    color: #333;
    background: #fff;
    padding: 10px;
}

#servicesContent li {
    position: relative;
}

#servicesContent li+li{
    margin-top: 10px;
}

#servicesContent li img {
    width:100%;
    max-width:274px;
}

#servicesContent h2 {
    position: absolute;
    font-size:1.3em;
    font-family:roboto;
    background: rgba(255,255,255,0.6);
    bottom:0;
    width: 100%;
    padding: 10px 0;
    text-transform: uppercase;
    text-align: center;
}


/**slider type 2:top banner**/
#topbanner {
    height: 245px;
    margin: 0 0 30px;
    overflow: hidden;
}

#topbanner li {
    width:100%;
}

#topbanner img {
    width:100%;
}

/****listing catalogue****/
/**commun all catalogues**/
.listingCatalogue li {
    float:left;
    background-color:#fff;
    width:185px;
}

.listingCatalogue li a:hover img {
    opacity:0.8;
}

.listingCatalogue li img {
    width:100%;
    border-bottom: 1px solid #bababb;
}

.carousel-catalogue .previous,.carousel-catalogue .next,
#carousel-movie .previous,#carousel-movie  .next,
#carousel-diapo .previous ,#carousel-diapo .next,
#content-more-shop .previous,#content-more-shop .next,
#movie-pictures .previous,#movie-pictures .next{
    background:url("../images/bullet.png") no-repeat -6px -525px;
    height:41px;
    width:24px;
    text-indent:-9999px;
    cursor:pointer;
}

.carousel-catalogue .previous,#carousel-movie  .previous,#carousel-diapo .previous,#content-more-shop .previous,#movie-pictures .previous {
    float:left;
}

.carousel-catalogue .previous:hover,#carousel-movie  .next:hover,#carousel-diapo .previous:hover,#content-more-shop .previous:hover,#movie-pictures .previous:hover {
    background-position:-8px -525px;
}

.carousel-catalogue .next,#carousel-movie  .next,#carousel-diapo .next,#content-more-shop .next,#movie-pictures .next {
    float:right;
    background-position:-8px -580px;
}

.carousel-catalogue .next:hover,#carousel-movie  .next:hover,#carousel-diapo .next:hover,#content-more-shop .next:hover,#movie-pictures .next:hover {
    background-position:-6px -580px;
}

.listingCatalogue li h3, .listingCatalogue li h2 {
    font-size:1em;
    font-family:roboto;
    font-weight:700;
    text-transform: uppercase;
    line-height: 1.4;
    color:#bb9854;
}

.listingCatalogue li strong {
    display: block;
    font-family: roboto;
    font-size: 1.2em;
    font-weight: 700;
    line-height: 1.2em;
    padding: 0 10px 10px
}

#blocCatalogue li h3,.rubrique > .listingCatalogue li h2,.rubrique > .listingCatalogue li h3,#mylist .listingCatalogue li h2,#mylist .listingCatalogue li h3 {
    padding:10px 10px 0;
}

#blocCatalogue li p,.rubrique > .listingCatalogue li p,#mylist .listingCatalogue li p {
    font-size:1em;
    color:#878787;
    padding:0 10px;
}

/**catalogues HOME**/
#blocCatalogue {
    position:relative;
    height:400px;
    background-color:#f7f7f8;
    clear:both;
    margin:0 0 40px;
    padding:40px 0;
}

#accessCatalogue {
    position:relative;
    height:360px;
}

#accessCatalogue> li {
    width:16%;
}

#accessCatalogue> li>span,#accessCatalogue> li>a {
    font-family:roboto;
    font-weight:300;
    font-size:1.250em;
    cursor:pointer;
    padding:12px 19px;
    display:block;
}

#accessCatalogue> li .active {
    background-color:#bb9854;
    color:#fff;
}

#blocCatalogue .carousel-catalogue {
    position:absolute;
    width:78%;
    top:0;
    right:0;
}

#accessCatalogue li+li .carousel-catalogue {
    display:none;
}

#blocCatalogue .carousel-catalogue li {
    margin:0 1.2%;
}

#blocCatalogue .carousel-catalogue .previous,#blocCatalogue .carousel-catalogue .next {
    margin-top:145px;
}

/**catalogues rubriques shopping**/
.rubrique .carousel-catalogue {
    clear:both;
    border-top:1px solid #bababb;
    padding:35px 0;
}

.rubrique .carousel-catalogue li {
    width:160px;
    position:relative;
    overflow:hidden;
    margin:0 1.2%;
}

.rubrique .carousel-catalogue li >a {
    visibility:hidden;
    padding:68px 5px 5px;
    position:absolute;
    left:-160px;
    top:0;
    z-index:999;
    width:150px;
    height:143px;
    background:url("../images/bg_pub.png") repeat 0 0;
}

.rubrique .carousel-catalogue li p, .rubrique .carousel-catalogue li h3 {
    color:#fff;
    margin:0 0 5px;
}

.carousel-catalogue .previous,.carousel-catalogue .next {
    margin-top:85px;
}

.rubrique .carousel-catalogue li:hover>a {
    visibility:visible;
    left:0;
}

/**catalogues rubriques collections**/
.rubrique > .listingCatalogue,#mylist .listingCatalogue{
    background-color:#f7f7f7;
    clear:both;
    padding:0 3.8% 0 0;
    width:96.2%;
    margin:0 0 40px;
}

.rubrique > .listingCatalogue li ,#mylist .listingCatalogue li{
    margin:0 0 3.8% 3.8%;
    height:380px;
}

.rubrique > .listingCatalogue h2 {
    margin:0 0 5px;
}

/*gestion listing article et bon plan infinite scroll global*/
.gutter-sizer {
    width:3.05%;
}
.grid-sizer{
    width:31.2%;
}
#global .subContent .grid-sizer{
    width:48.3%;
}

/****listing article****/
#listingArticles {
    padding:0 0 20px;
}

#listingArticles .item {
    display:inline-block;
    margin:0 0 50px;
    max-width:370px;
    vertical-align:top;
    width:31.3%;
    border-bottom: 1px solid #BABABB;
    padding-bottom: 40px;
    position:relative;
}

#listingArticles>li p {
    font-family:roboto;
    font-weight:300;
    font-size:1.2em;
    color: #333;
    margin: 20px 0;
}

#listingArticles>li >a img {
    width:100%;
    max-width:370px;
}

.landscapeArticle{min-height:410px;}
.bloc-5{min-height:312px;}
.portraitArticle{min-height:690px;}

.linksTo {
    margin:5px 0 0;
}

.linksTo a {
    font-family:roboto;
    font-weight:300;
    font-size:1.333em;
    text-decoration:underline;
    padding:3px 0 0 15px;
    background:url("../images/bullet.png") no-repeat 0px 4px;
    display:inline-block;
}

.scroll-list{
    border-radius: 80px;
    color: #fff !important;
    display: block;
    font-family: roboto;
    font-size: 12px !important;
    font-weight: 300;
    height: 26px;
    line-height: 16px !important;
    margin: 0 auto 30px;
    padding: 27px 0;
    text-align: center;
    text-transform: uppercase;
    width: 80px;
}

.video {
    position:absolute;
    top:20%;
    left:50%;
    margin-left:-15px;
    z-index:888;
    width:0;
    height:0;
    border-style:solid;
    border-width:15px 0 15px 26.0px;
    border-color:transparent transparent transparent #fff;
    text-indent:-9999px;
}

#listingArticles .diaporama ul li {
    background:url("../images/bullet.png") no-repeat -79px -525px;
    padding:6px 5px 8px;
    position:absolute;
}

#listingArticles .diaporama ul li img {
    display:block;
    width:85px;
}

#listingArticles .bloc-5 ul {
    height:216px;
}

#listingArticles .bloc-5 li {
    top:8px;
    left:40px;
}

#listingArticles .bloc-5 li+li {
    top:13px;
    left:132px;
}

#listingArticles .bloc-5 li+li+li {
    top:5px;
    left:222px;
    z-index:9;
}

#listingArticles .bloc-5 li+li+li+li {
    top:105px;
    left:77px;
}

#listingArticles .bloc-5 li+li+li+li+li {
    top:97px;
    left:171px;
    z-index:8;
}

#listingArticles .bloc-3 ul {
    height:130px;
}

#listingArticles .bloc-3 li {
    top:15px;
    left:35px;
}

#listingArticles .bloc-3 li+li {
    left:137px;
    top:20px;
}

#listingArticles .bloc-3 li+li+li {
    left:inherit;
    right:35px;
    top:15px;
    z-index:9;
}

/**sidebar navigation**/
#sidebar-nav strong {
    font-family:roboto;
    font-weight:700;
    text-transform:uppercase;
    font-size:1.167em;
    display:block;
}

#sidebar-nav >ul {
    margin:12px 0 35px;
}

#sidebar-nav >ul>li {
    background:url("../images/bullet.png") no-repeat -5px 9px;
    padding:5px 0 5px 15px;
    background-size:200px;
}

#sidebar-nav .active {
    text-decoration:underline;
}

#sidebar-nav>ul>li>a {
    font-family:roboto;
    font-weight:300;
    font-size:1.333em;
    padding:0 5px;
    display:block;
    line-height: 1.4em;
}

#sidebar-nav li a:hover {
    background-color:#000;
    color:#fff;
}

/****HOME CATEGORIE actus****/
.rubrique h1,#global>h1,.additionalContent h1,.mallContent h1 {
    font-family:roboto;
    font-weight:700;
    text-transform: uppercase;
    color:#333;
    text-align:center;
    margin:30px 0 15px;
    background:url("../images/bg-title.png") repeat-x center 12px;
}

#wrapper h1 span{
    font-size: 2.8em;
    line-height:1.2em;
}

#wrapper >h1 span{
    padding: 0 25px;
}
.rubrique article h1{
    padding:0 100px;
}
.rubrique article h1 span{
    display:inline-block;
}

.rubrique h1 span,#global>span,.additionalContent span,.mallContent span{
    background: #fff;
    position:relative;
}

/**gestion filtre sous rubrique**/
.filter {
    margin:0 0 30px;
    padding:20px 5px;
    text-align:center;
    background: #f7f7f7;
}

.filter  li {
    display:inline;
    margin:0 1.5%;
}

.filter li a,.filter li span {
    font-family:roboto;
    font-weight:300;
    font-size:1.5em;
}

.filter li a:hover,.filter .active a {
    text-decoration:underline;
}

.filter select {
    font-family:roboto;
    color:#aaa;
    padding:5px 4px;
    background: #fff;
}

.filter select option {
    color:#000;
}

/****HOME CATEGORIE resto****/
#listing-promo li {
    width:31.3%;
    float:left;
    margin:0 2% 40px 0;
}

#global #brandlist {
    padding:0;
}

/****HOME CATEGORIE Shopping****/
.shopListing {
    width:100%;
    padding:35px 0;
}
.shopListing + .shopListing{
    border-top:1px solid #bababb;
}

.shopListing h2 {
    font-family:roboto;
    font-weight:700;
    display:inline-block;
    width: 26%;
    font-size:2em;
    vertical-align:top;
    text-transform:uppercase;
}

.shopListing  ul {
    display:inline-block;
    width:73%;
    vertical-align:top;
}

.shopListing  ul li {
    display:inline-block;
    width:24.5%;
    padding:4px 0;
}

.shopListing .column-type-2{
    display:inline-block;
    width:18%;
}
.shopListing .column-type-2 li{
    width:100%;
}

.shopListing  ul li a {
    font-family:roboto;
    font-weight:300;
    font-size:1.167em;
}

.shopListing  ul li a:hover {
    text-decoration:underline;
}

.shopListing .promo,.shopListing .catalogue {
    color:#129ea0;
    font-size:0.9em;
    padding:0 0 0 5px;
    position:relative;
    top:-5px;
}

/****article****/
article #sidebar .chapo {
    font-family:roboto;
    font-weight:300;
    font-size:1.833em;
    line-height:1.5em;
    margin:25px 0 0;
    height:50%;
}

article #sidebar .cat {
    color:#000!important;
    display:inline;
    font-size:1em;
}

article #sidebar .date {
    border-left:1px solid #919191;
    color:#919191;
    font-family:roboto;
    font-weight:700;
    margin:0 0 0 5px;
    padding:0 0 0 5px;
    text-transform:uppercase;
}

article #sidebar .accessShop {
    margin:80px 0 0;
}

/*gestion du bloc ou trouver en floatable*/
article #sidebar .floatable {
    position:fixed;
    top:10px;
    margin:0;
    width:23.7%;
}
.rubrique .absoluteposition{
    position:relative;
    clear:both;
    float:left;
}
/*
.rubrique .absoluteposition .accessShop{
    position:absolute;
    bottom:0;
    width:31.5%;
}*/
/*fin gestion du bloc ou trouver en floatable*/

article #global .accessShop{
    display:none;
}

article .accessShop >span {
    font-family:roboto;
    font-weight:700;
    font-size:1em;
    margin:0 0 0 5px;
    display:block;
    text-transform: uppercase;
}

article .accessShop >div {
    background-color:#f7f7f8;
    padding:15px;
    margin:10px 0 0;
}

article .accessShop >div h2 {
    font-family:roboto;
    font-weight:700;
    font-size:1.833em;
    text-decoration:underline;
    margin:0 0 10px;
}

article .accessShop >div strong{
    font-weight:700;
}

article  .accessShop >div p,article  .accessShop >div a {
    font-family:roboto;
    font-weight:300;
    font-size:1.167em;
    line-height: 1.6em;
    margin: 5px 0;
}

.accessShop >div a {
    text-decoration:underline;
    padding: 0 20px;
    background: url("../images/bullet.png") no-repeat 5px 2px;
}

.accessShop >div a+a {
    border-left:1px solid #000;
}

article #global >img {
    display:block;
    margin:0 0 3px;
    width:100%;
    max-width:780px;
}

.portrait-tpl #global >img {
    max-width:430px;
}

#wrapper article #global h2 {
    font-size:1.8em;
    margin:0 0 8px;
    font-family:roboto;
    font-weight:500;
    background:none;
    text-align:left;
}

article #global >p,figcaption p {
    margin:0 0 25px;
    font-size:1.167em;
    font-family:roboto;
    font-weight:300;
}

figcaption p {
    font-size: 1.2em;
    color:#333;
    padding-top: 10px;
}

.shopDescription p {
    margin:0 0 20px;
    font-size:1.4em;
    font-family:roboto;
    font-weight:300;
}

article #global >p i,.shopDescription p i,figcaption p i {
    font-style:italic;
    font-size:inherit;
    font-family:inherit;
}

article #global >p b,.shopDescription p b,figcaption p b {
    font-size:inherit;
    font-family:roboto;
    font-weight:700;
}

article #global >p a,.shopDescription p a {
    text-decoration:underline;
    font-size:inherit;
    font-family:inherit;
}

article #global >ul,.shopDescription ul {
    line-height:1.5em;
    list-style:disc outside none;
    margin:0 0 20px 20px;
}

article #global >ul li {
    font-family:roboto;
    font-weight:300;
    font-size:1.167em;
}

article #global .author {
    text-align:right;
    font-family:roboto;
    font-weight:700;
    font-size:1.167em;
    border-bottom: 1px solid #bababb;
    padding-bottom: 5px;
    margin-bottom: 40px;
}

.videoContainer iframe,.videoContainer object {
    margin:0 0 3px;
    max-height:393px;
    min-height:250px;
    width:100% !important;
}

.videoContainer,.videoContainer object embed {
    width:100% !important;
}

.shareArticle {
    margin:0 0 30px;
    height:35px;
    clear:both;
}

.shareArticle ul {
    float:right;
}

.shareArticle li {
    float:left;
}

.shareArticle .add-wishlist {
    float:left;
    margin:8px 0 0;
    color: #bb9854;
}

.shareArticle ul li a {
    background:url(../images/bullet.png) no-repeat -2px -913px;
    display:block;
    text-indent:-9999px;
    width:35px;
    height:35px;
    margin:0 0 0 3px;
}

.shareArticle ul li .facebook {
    background-position:-85px -835px;
}

.shareArticle ul li .twitter {
    background-position:-85px -876px;
}

.shareArticle ul li .gplus {
    background-position:-43px -876px;
}

.shareArticle ul li .pinterest {
    background-position:-45px -835px;
}

.shareArticle ul li .mail {
    background-position:-2px -876px;
}

.shareArticle ul li .print {
    background-position:-2px -835px;
}

.shareArticle ul li  .bigtypo,.shareArticle ul li  .smalltypo,.shareArticle ul li .comm {
    color:#fff;
    text-indent:0;
    font-family:roboto;
    font-weight:700;
    line-height:35px;
    text-align:center;
}

.shareArticle ul li .comm {
    background:none #bababb;
}

.shareArticle ul li  .bigtypo {
    background:none #333;
    font-size:1.5em;
}

.shareArticle ul li  .smalltypo {
    background:none #333;
    font-size:1.167em;
}

#wrapper article .main-link {
    background-color:#b1ab99;
    margin:40px auto;
    width:126px;
}

#wrapper article #diapo-content {
    margin:0;
    position:relative;
    height:360px;
}

#diapo-content li {
    background:url(../images/bg-diapo.png) no-repeat 0 0;
    padding:5px 5px 20px;
    -ms-transform:rotate(-7deg);
    -webkit-transform:rotate(-7deg);
    transform:rotate(-7deg);
    position:absolute;
    top:30px;
    left:2%;
    list-style:none;
    width:34%;
}

#diapo-content li+li {
    -ms-transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
    transform:rotate(0deg);
    top:0;
    left:32%;
    z-index:999;
}

#diapo-content li+li+li {
    -ms-transform:rotate(7deg);
    -webkit-transform:rotate(7deg);
    transform:rotate(7deg);
    top:30px;
    left:inherit;
    right:2%;
    z-index:888;
}

#diapo-content li img {
    width:98.5%;
    margin:0;
}

.showmore{
    clear: both;
    float: right;
    font-family: roboto;
    font-weight: 300;
    border:1px solid #bababb;
    color:#bababb;
    padding:4px 7px;
    margin:10px 0;
    font-size:1.3em;
    text-transform: uppercase;
    cursor:pointer;
    text-align:center;
    width:10px;
}

/**bloc commentaires**/
#comment {
    padding:50px 0 100px;
}

#comment strong {
    font-family:roboto;
    font-weight:700;
    font-size:1.667em;
    color:#333;
    text-transform:uppercase;
}

#comment ul li {
    float:left;
    font-size:1.250em;
    margin-top:20px;
    color:#959595;
    background: url("../images/bullet.png") no-repeat 15px 0px;
    padding-left: 30px;
}

#comment ul li+li {
    border-left:1px solid #959595;
    margin-left:20px;
}

#comment ul li a {
    font-size:inherit;
    color:inherit;
}

#comment form {
    clear:both;
}

#comment form textarea {
    width:98.9%;
    margin:10px 0 12px;
}

#comment input[type="submit"] {
    float:right;
    background-color:#000;
    color:#fff;
    font-family:roboto;
    font-weight:700;
    position: relative;
    width: 100px;
}

#comment ol {
    padding:40px 0 0;
    clear:both;
}

#comment ol li {
    clear:both;
}

#comment ol li+li {
    margin:30px 0 0;
    padding:30px 0 0;
    border-top:1px solid #dedede;
}

#comment ol li em {
    font-family:roboto;
    font-weight:700;
    border-bottom: 1px solid;
}

#comment ol li a {
    float:right;
    font-family:roboto;
    font-weight:300;
    color:#929292;
}

#comment ol li p {
    margin:10px 0 0;
    color: #666;
    font-style: italic;
    font-family: roboto;
}


/**article diaporama**/
#diaporamaArt .content {
    position:relative;
}

#diaporamaArt figure img {
    width:100%;
    max-width:420px;
    display:block;
    border:1px solid #bababb;
}

#carousel-diapo {
    float:right;
    width:186px;
}

#carousel-diapo li {
    float:left;
    margin:0 0 15px 15px;
    width:75px;
    border:1px solid  #bababb;
}

#carousel-diapo img {
    width:100%;
    display:block;
}

.shareArticle{
    padding: 10px;
    background: #f7f7f8;
    margin: 10px 0 30px;
}

.price {
    float:left;
    font:1.8em/1.2em roboto;
    font-weight:300;
    border-right:1px solid #bababb;
    padding:5px 20px 5px 0;
    margin:0 20px 0 0;
}

/**fiche boutique**/
.rubrique #global #sliderHome {
    width:99.7%;
    max-width:785px;
}

.rubrique #global #sliderHome li {
    width:100%;
}

.shopLogo {
    text-align:center;
    padding:30px 0 60px;
}

#shopInfos {
    border:1px solid #bababb;
    padding:20px 25px;
    margin:0 0 30px;
}

#shopInfos #details div strong {
    font-family:roboto;
    font-weight:700;
    font-size:2.167em;
    display:block;
    color:#333;
    margin:0 5px 0 0;
    display:inline;
    line-height:1.2em;
}

#shopInfos #details div>a {
    font-family:roboto;
    font-weight:300;
    text-transform:uppercase;
}

#shopInfos #details ul {
    margin:30px 0;
}

#shopInfos #details ul li {
    font-size:1.167em;
    line-height:1.25em;
    font-family:roboto;
    font-weight:300;
    margin:0 0 10px
}

#details a {
    text-decoration:underline;
    font-family:inherit;
    font-size:inherit;
}

#details a p{
    text-decoration:none;
    background: url("../images/bullet.png") no-repeat -5px 4px;
    color: #333;
    text-transform: none;
    padding-left: 10px;
    margin-top: 10px;
}

#shopInfos #details ul li span {
    font-family:inherit;
    text-transform:uppercase;
    font-weight: 700;
}

#shopInfos #details ul li dl {
    display:table;
}

#shopInfos #details ul li dt span {
    white-space:nowrap;
    padding-right: 5px;
}

#shopInfos #details ul li dl dt, #shopInfos #details ul li dl dd  {
    display:table-cell;
}

#shopInfos #details ul li dl dd p  {
    line-height: 1.1em;
}

#addContent {
    clear:both;
    position:relative;
    text-align:center;
    padding: 18px 14px 2px;
    background: #f7f7f7;
}

#addContent >li {
    display:inline;
}

#addContent >li >h2 {
    background:none;
    display:inline;
    padding:0 1.8%;
    cursor:pointer;
    font-family:roboto;
    font-weight:300;
    font-size:1.500em;
    margin:0;
}

#addContent >.active>h2 {
    text-decoration:underline;
}

#addContent .subContent {
    position:absolute !important;
    background-color:#fff;
    width:100%;
    left:0;
    top:55px;
    visibility:hidden;
    padding:20px 0 45px 0;
}
#addContent .subContent>p{
    font-size: 1.4em;
}

#addContent .empty {
    text-align:center;
    font-size:1.167em;
}

#addContent #listingArticles .item {
    width:48%;
}

#addContent .carousel-catalogue {
    background-color:#f7f8f7;
    border:none;
}

#addContent .active .subContent {
    visibility:visible;
    text-align:left;
}

#socialFeed {
    min-height:510px;
    text-align:center !important;
}

#socialFeed>div {
    width:320px;
    margin:0 0 30px;
}

#idFb,#linkTweet,#idTweet {
    display:none;
}

#socialFeed .tweetWall {
    float:right;
}

#socialFeed .fb-page {
    border:1px solid #ccc;
    box-sizing:border-box;
}
#socialFeed .fbWall,
#socialFeed > iframe,
#socialFeed > div{
    display:inline-block;
    margin-right:30px;
    margin-bottom:30px;
    vertical-align:top;
    width:350px;
    text-align:left;
}
#socialFeed .wrapperInstagram{
    width:323px;
}
#socialFeed > iframe{
    min-height:380px !important;
}
.titre-smo{
    font-size:1.4em;
    color:#333;
    font-family:roboto;
    display:block;
    margin-bottom:10px;
    font-weight:bold;
}
.fb_iframe_widget iframe{width: 348px!important;}
.fb_iframe_widget span{max-height:505px;}
.twitter-timeline{max-height:500px !important;}

/* INSTAGRAM */

.wrapperInstagram h2{
    background: none !important;
    margin-bottom:10px !important;
    text-align:left !important;
}
.wrapperInstagram strong{font-weight:bolder;}
.wrapperInstagram .wrap{
    padding:25px;
    box-sizing:border-box;
    border:1px solid #d3d3d4;
    text-align:left;
    font-family:sans-serif;
}
.wrapperInstagram .wrap header{
    padding:0;
    width:100%;
}
.wrapperInstagram .wrap header,
.wrapperInstagram .wrap .content{
    display:inline-block;
    text-align:left;
}
.wrapperInstagram .wrap .logo,
.wrapperInstagram .wrap .infosInstagram{
    float:left;
    text-align: left !important;
}
.wrapperInstagram .wrap .logo{width:40%;}
.wrapperInstagram .wrap .infosInstagram{
    box-sizing:border-box;
    padding-left:10px;
    width:60%;
}
.wrapperInstagram .wrap .infosInstagram .titreInstagram,
.wrapperInstagram .wrap .infosInstagram .btnAbonner{
    display:inline-block;
}
.wrapperInstagram .wrap .infosInstagram .titreInstagram{
    font-weight:lighter;
    background:url("../images/bullet.png") no-repeat 83px -692px !important;
    padding:4px 25px 4px 0px;
    margin-bottom:10px;
}
.wrapperInstagram .wrap .infosInstagram span.btnAbonner{
    box-sizing:border-box;
    padding:5px 20px 5px 5px;
    border-radius:3px;
    border:1px solid #4090db;
    color:#4090db;
    font-size:12px;
    text-transform:uppercase;
    background:url("../images/bullet.png") no-repeat 77px -671px;
    margin-bottom:10px;
}
.wrapperInstagram .wrap .logo img{
    width:90px;
    height:90px;
    border-radius:45px;
    -webkit-border-radius:55px;
    -moz-border-radius:55px;
    border:1px solid #555;
}
.wrapperInstagram .wrap .content{margin-top:30px;}
.wrapperInstagram .wrap .content ul{display:inline-block; list-style-type:none; text-align:center; margin:0; padding:0;}
.wrapperInstagram .wrap .content li{
    display:inline-block;
    width:80px;
    height:80px;
    margin:1%;
    background-color:#484848;
}
.wrapperInstagram .wrap .content li img{
    width:100%;
}




#content-more-shop{
    clear:both;
    border-top:1px solid #bababa;
    height:auto !important;
    margin:20px 0 60px;
    display:inline-block;
    width:100%;
}

#content-more-shop .carousel-content{
    height:184px !important;
}

#content-more-shop h3{
    text-align:center;
    margin:15px 0 30px;
    font-size:1.087em;
    text-transform:uppercase;
}

#content-more-shop ul li{
    width:182px;
    text-align:center;
    line-height:182px;
    border:1px solid #bababa;
}

#content-more-shop ul li a img{
    vertical-align:middle;
}

#content-more-shop ul li a img:hover{
    opacity:0.7;
}

#content-more-shop .previous,#content-more-shop .next{
    margin-top:72px;
}
#content-more-shop .previous{
    margin-right:20px;
}
#content-more-shop .next{
    margin-left:20px;
}


/*cas ou il n'y a ni visu ni add content dans fiche boutique*/
.no-add-content{
    float:none;
    width:100%;
}

.no-add-content #shopInfos{
    float:left;
    width:27%;
    margin-right:15px;
}
.no-add-content .shopDescription{clear:none;}

/**cinema**/
#listingMovies >li {
    display: inline-block;
    width:28%;
    margin:0 2% 50px;
    vertical-align: top;
}

#listingMovies >li img {
    max-width:215px;
    width:100%;
}

#listingMovies li h2 {
    font-size:1.5em;
    text-align:left;
    background:none;
    margin:10px 0 5px;
    min-height:50px;
    line-height: 1.3em;
}

#listingMovies li h2 sup {
    vertical-align:bottom;
    font-size:0.65em;
    margin:8px;
    color:#ff5075;
}

#listingMovies li ul li,#movie ul li {
    line-height:1.55em;
    font-family:roboto;
    font-weight:300;
    font-size:1.167em;
}

#listingMovies li ul li strong {
    font-size:1.1em;
    font-weight: 500;
    color: #333;
}

#listingMovies li ul+ul {
    margin:10px 0 0;
}

#listingMovies li a {
    font-family:inherit;
    font-size:inherit;
}

#listingMovies li li a {
    background:url("../images/bullet.png") no-repeat -4px 1px;
    padding:0 0 0 12px;
}

#listingMovies li a:hover {
    text-decoration:underline;
}

/**fiche cine**/
#seances img {
    display:block;
    width:100%;
    max-width:355px;
}

#seances strong {
    font-family:roboto;
    font-weight:700;
    display:block;
    margin:30px 0 7px;
    font-size:1.333em;
}

#seances >a {
    font-family:roboto;
    font-weight:300;
    font-size:1.333em;
    text-decoration:underline;
    display:block;
    margin:15px 0 0;
    background: url("../images/bullet.png") no-repeat 0px 1px;
    padding-left: 15px;
}

#seances table {
    background-color:#f1f0f0;
    height:90px;
    vertical-align:top;
    width:100%;
    max-width:355px;
}

#seances table .head {
    background-color:#000;
    color:#fff;
    width:65px;
    text-align:center;
    padding:14px 0 0;
    font-family:roboto;
    font-weight:700;
}

#seances table td+td {
    padding:0 30px 10px;
    font-family:roboto;
    font-weight:300;
    font-size:1.1em;
    line-height:1.6em;
}

#movie h2 {
    text-align:left;
    font-family:roboto;
    font-weight:700;
    margin:0 0 15px;
    font-size:2.250em;
    background:none;
}

#movie >ul {
    margin:0 0 20px;
}

#movie b {
    font-family:roboto;
    font-weight:700;
    font-size:14px;
}

#movie p {
    font-family:roboto;
    font-weight:300;
    font-size:1.167em;
}

#moreInfos h3 {
    font-family:roboto;
    font-weight:300;
    text-align:left;
    font-size:1.750em;
}

#moreInfos div object,#moreInfos div object video {
    width:100%;
}

#moreInfos div object video {
    height:400px;
}

#movie,#moreInfos div {
    margin:0 0 40px;
}

#moreInfos div ul li {
    float:left;
    margin-bottom:10px;
}

#moreInfos ul li+li {
    margin-left:1.25%;
}

#moreInfos div a {
    clear:both;
    display:block;
    text-align:right;
    font-family:roboto;
    font-weight:300;
    text-decoration:underline;
    font-size:1.333em;
    background: url("../images/bullet.png") no-repeat 600px 0px;
}
#movie-pictures span{
    margin:22px 0 0;
}
#carousel-movie {
    margin-bottom: 70px;
}

#carousel-movie li {
    width:193px;
}

#carousel-movie span {
    margin:106px 0 0;
}

/**fiche catalogue**/
.catalogueDetails {
    margin:0 0 40px;
    padding:35px;
    background-color:#f6f6f7;
}

#wrapper .catalogueDetails >div {
    background-color:#fff;
    width:70%;
    margin:auto;
}

#wrapper .catalogueDetails >div >div,.catalogueDetails img {
    display:inline-block;
    vertical-align:middle;
}

#wrapper .catalogueDetails img {
    margin:0 2% 0 0;
    max-width:350px;
    width:49%;
}

#wrapper .catalogueDetails >div >div {
    width:48.5%;
    text-align:center;
}

#wrapper .catalogueDetails h2 {
    font-size:1.833em;
    font-family:roboto;
    font-weight:300;
    margin:0 0 30px;
    line-height: 1.4em;
}

#wrapper .catalogueDetails a {
    line-height:1.2em;
    display:inline-block;
}

/**page bons plans**/
#couponsListing .item {
    margin:0 0 30px;
    border:1px solid #bababb;
    padding:1.5% 1%;
    min-height:375px;
    overflow:hidden;
}

.rubrique> #couponsListing .item,#mylist #couponsListing .item{
    width:29%;
    background-color:#fff;
}
#global #addContent .subContent  #couponsListing .item {
    width:46%;
}
.rubrique> #couponsListing .item.fullsizePromo,
.rubrique> #couponsListing .item.fulldetailPromo,
#mylist #couponsListing .item.fullsizePromo,
#mylist #couponsListing .item.fulldetailPromo
{
    width:65.2%;
}

#global #addContent .subContent #couponsListing .item.fullsizePromo,
#global #addContent .subContent #couponsListing .item.fulldetailPromo {
    width:100%;
}

#couponsListing .item.fullsizePromo {
    padding:0;
    min-height:340px;
}

#couponsListing .item.fulldetailPromo {
    padding:0 0 60px;
    min-height:425px;
    height:auto;
}

#couponsListing .fullsizePromo img, #couponsListing .fulldetailPromo img{
    width:100%;
}
#couponsListing .item.fulldetailPromo p i{
    font-style:italic;
    font-family: roboto;
    color:#666;
    line-height:0.9em;
}
#couponsListing .front >img{width:100%;}

#couponsListing .front h2,#couponsListing .front h3 ,#couponsListing .back >strong{
    display:block;
    font-family:roboto;
    font-weight:700;
    text-align:left;
    font-size:1.6em;
    line-height: 1.1em;
    margin:22px 0 0;
    color:#000;
    text-align:center;
    background:none;
}

#couponsListing h2 sub,#couponsListing h3 sub {
    font-family:roboto;
    font-weight:700;
    vertical-align:top;
}

#couponsListing li > img,#couponsListing li > a img {
    width:100%;
    display:block;
}

.accessOffer >a {
    bottom: 10px;
    left: 50%;
    margin: 0 0 0 -75px;
    position: absolute;
    text-align: center;
    width: 120px;
}

.accessOffer >strong,.accessOffer >span {
    font-family:roboto;
    font-weight:300;
    font-size:1.250em;
    background: url("../images/bullet.png") no-repeat 0px 4px;
    padding-left: 15px;
    color:#000;
    display: none;
}
.accessOffer >strong a {
    font-family:inherit;
    text-decoration:underline;
    font-size:inherit;
}
#couponsListing li >h2,#couponsListing li >h3,#couponsListing li >p,#couponsListing li>em {
    padding:0 14px;
}

.fullsizePromo .accessOffer{
    background:url("../images/bg-fade.png") repeat left top;
    position: absolute;
    top:-600px;left:0;
    width:100%;
    height:100%;
    overflow:hidden;
}

.fullsizePromo:hover .accessOffer{
    top:0;
}

.fullsizePromo p .access-infos{
    top:50%;
    bottom:inherit;
    margin-top: -11px;
    top: 50%;
}
.fullsizePromo:hover .access-infos{
    display:block;
    opacity:1;
}

#couponsListing  .club-offer a,#couponsListing  .club-offer strong,#couponsListing  .club-offer h2 {
    text-align:center;
    display:block;
}
.club-offer img{max-width:250px;}

.club-offer strong,.club-offer h2 {
    font-family:roboto;
    text-transform:uppercase;
    font-size:2em;
    border-bottom:1px solid #bababb;
}

.front .club-offer strong {
    font-weight:700;
    padding:0 0 14px;
    margin:0 0 15px;
    display:none !important;
}

#couponsListing .back .club-offer h2{
    font-weight:300;
    padding:0 0 14px;
    margin:0 0 30px;
    background:none;
}

#couponsListing .back >strong a{
    font:inherit;
    text-decoration:underline;
}

.club-offer em {
    font-family:roboto;
    font-weight:700;
    font-size:2.333em;
    margin:0 0 20px;
}
#couponsListing .fulldetailPromo .front p,#couponsListing .fulldetailPromo .front h2{
    margin-top:2px;
    padding:0 1%;
}
.detailOffer p,.fulldetailPromo p {
    font:1.2em roboto;
    font-weight:300;
    line-height: 1.5em;
    margin:6px 10px 15px 10px;
    color: #666;
    text-align:justify;
}

.slide-logo{margin:15px auto 0;}
.slide-logo li{width:100%;max-width:740px;text-align:center;margin:0 auto 15px;}
.slide-logo li img{max-width:165px;margin:auto;}
.slide-logo li a{display:block;}
.link-to-map{
    text-align:center;
    font-weight:bold;
    text-decoration:underline;
    text-transform: uppercase;
    width:100%;
    margin-top:-10px;
}
.link-to-map a{
    font-style:normal;
    font-weight: bold;
    color:#333;
}
.item .front{
    padding:0 0 44px;
}
#couponsListing .fulldetailPromo .front,#couponsListing .fullsizePromo .front{
    padding:0 0 0;
}

.item .back {
    background-color: #fff;
    border: 1px solid #d6d6d6;
    box-shadow: 0 0 30px #b3b3b3;
    display: none;
    left: 49.95%;
    padding: 15px 30px 60px;
    position: fixed;
    top: 0;
    z-index: 1100;
    max-width:740px;
}

.item .back>b {
    font-family:roboto;
    font-weight:300;
    font-size:16px;
    color: #333;
    display:block;
    margin:5px 0 0;
}

.item .back p{
    color:#585858;
    margin: 0 0 7px;
    font-style: italic;
    line-height:1.6em;
    font-size:1em;
    font-weight: 300;
    clear: both;
}
.item .back p span{
    font-size:inherit;
    font-family:inherit;
    color:inherit;
}

.backlinks{
    position:absolute;
    width:100%;
    bottom:0;
    right:0;
    text-align:right;
}

.back .add-wishlist{
    background-position: -122px -881px;
    color: #fff !important;
    display: inline-block;
    padding: 14px 21px 14px 45px;
}

.back .close{
    color:#bababb;
    position:absolute;
    top:20px;
    right:17px;
    font-size:1.5em;
    font-family:roboto;
    font-weight:300;
}

.back .store {
    float: left;
    width: 100%;
    margin: 30px 0;
    text-align: center;
}

.back .store img{
    display: block;
    margin: 0 auto 30px auto;
}

.back .store a{
    background: url('../images/bullet.png') no-repeat;
    width: 100px;
    margin:0 6px;
    height: 32px;
    display: inline-block;
    text-indent: 200%;
    white-space: nowrap;
    overflow: hidden;
}
.back .store a:first-child{
    margin-right: 30px;
}
.back .store .apple{
    background-position:-15px -1067px;
}
.back .store .google{
    background-position:-14px -1033px;
}

/**Page Liste de mes envies**/
#wishBloc{background-color:#f7f8f8;padding:40px 30px;margin:0 0 40px;}
#wishBloc>img {float:left;margin:0 3% 0 0;width:39%;max-width:440px;}
#wishBloc >div{float:left;width:58%;}
#wishBloc >div >p{font-size:1.750em;line-height:1.3em;margin:0 0 30px;}
#wishBloc >div >div{margin:0 0 30px;text-align:center;}
#wishBloc >div >div>a{display:inline-block;font-weight:700;margin:0 10px;}
#wishBloc >div form{border-top:1px solid #bababb;padding:20px 0 0;}
#wishBloc >div form fieldset+fieldset{margin:30px 0 0;}
#wishBloc >div form strong{font-family:roboto;font-weight:700;display:block;font-size:1.333em;margin:0 0 8px;}
#wishBloc >div form p{float:left;width:25%;margin:0 0 11px;}
#wishBloc >div form input[type="checkbox"]{margin:0 10px 0 0;vertical-align:middle;}
#wishBloc >div form label{font-family:roboto;font-size:inherit;}
#wishBloc >div form .last{clear:both;width:50%;position:relative;}
#wishBloc >div form input[type="text"]{padding:8px 5px;width:100%;font-family:roboto;font-size:inherit;color:#aeaeae;margin:20px 0 0;}
#wishBloc >div form .last input[type="button"]{
    border:none;
    background: none;
    color: #aeaeae;
    font-family: roboto;
    font-weight: 700;
    height: 25px;
    padding: 0 5px;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    bottom: 7px;
    width: 27px;
    cursor:pointer;
}

#wishBloc  input[name="remove_wishlist_shopping"]{
    float:right;
    background-color:#333;
    padding:10px 15px;
}

#wishBloc  input[type="submit"]{
    background-color:#000;
    padding:12px 20px;
    color:#fff;
    font-family:roboto;
    text-transform:uppercase;
    font-weight:700;
    margin:15px 0 0 35px;
}
#mylist {position:relative;}

#mylist .modify{
    background-color: #bb9854;
    color: #fff;
    cursor: pointer;
    font-family: roboto;
    font-weight: 300;
    padding: 20px;
    position: absolute;
    right: 0;
    text-decoration: underline;
    top: 0;
    z-index: 999;
    font-size:1.167em;
}

#mylist .listingCatalogue li{position:relative;}
#mylist .delete{
    position:absolute;
    top:0;left:0;
    background:url("../images/bg_pub.png") repeat;
    color:#fff;
    font-family:roboto;
    text-align:center;
    width:100%;
    height:100%;
    cursor:pointer;
    line-height:100%;
    text-decoration:underline;
    font-size:1.167em;
    display:none;
}
#mylist .delete span{
    background-color: #fff;
    border-radius: 30px;
    color: #000;
    display: block;
    font-family: inherit;
    font-size: 25px;
    height: 18px;
    padding: 10px;
    width: 18px;
    margin:150px auto 8px;
}


/**Pages services**/
#generalServices {
    position: relative;
    margin:50px 0 0;
    padding-bottom: 50px;
    min-height:999px !important;
}
#generalServices >li{
    padding-bottom:10px;
}

#generalServices .category {
    display: block;
    width: 23%;

    border-right: 1px solid #bababb;

    line-height: 36px;
}

#generalServices .category .category-title {
    font-size: 18px;
    font-family: roboto, Helvetica, sans-serif;
    cursor: pointer;
}

#generalServices .category .category-title.current, #generalServices .category .category-title:hover {
    font-weight: bold;
    text-decoration: underline;
}

#generalServices h2.current {
    font-weight: 700;
    text-decoration: underline;
}

#generalServices .services {
    display: block;
    position: absolute;
    top: 0;
    left: 30%;
    right: 0;
    bottom: 0;
    max-height: 0;
    overflow: hidden;
}

#generalServices .services.current {
    max-height: 9999px;
}

#generalServices .services .service {
    display: inline-block;
    width: 10%;
    margin-right: 3%;
    max-width: 80px;
    margin-bottom: 20px;

    vertical-align: top;
}

#generalServices .service .picto {
    max-height: 80px;
    max-width: 80px;
    width: 100%;
    height: auto;
    opacity: 0.3;
    cursor: pointer;
}

#generalServices .service .picto img {
    width: 100%;
    height: auto;
}

#generalServices .service .description {
    max-height: 0;
    overflow: hidden;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
}

#generalServices .service.current .description {
    max-height: 9999px;
}

#generalServices .service .description > a:last-child {
    display: inline-block;
    padding-top: 0.5em;

    font-weight: normal;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 0.9em;
}

#generalServices .service.current .description > a:last-child:hover {
    font-weight: normal;
    text-transform: uppercase;
}

#generalServices .service.current .picto, #generalServices .service .picto:hover {
    opacity: 1;
}

#generalServices li .first {
    display:inline-block;
    max-height: 80px;
    max-width: 80px;
    text-align: center;
    width: 100%;
}

#generalServices .services .service:nth-last-child(n+8):first-child .description,
#generalServices .services .service:nth-last-child(n+8):first-child ~.service .description {
    top: 200px;
}

#generalServices .stores li {
    display: inline-block;
    max-width: 44%;
    margin-right: 2%;
}


#generalServices li ul li.current div + div, #generalServices li div.open-sub-menu{
    display:block;
}
#generalServices li .first img {
    max-width: 80px;
    width: 100%;
    opacity: 0.3;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
}
#generalServices li .first:hover img, #generalServices li.current .first img {
    opacity: 1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
#generalServices h3 {
    font-size:1.167em;
    margin:0 0 2px;
}
#generalServices li a  {
    font:1em/1.4em roboto;
    font-weight:300;
    text-decoration:underline;
    text-transform:uppercase;
}
#generalServices li a img {
    border:1px solid #CCC;
    padding:10px;
    float:left;
    width:100px;
    margin: 0 8px 8px 0;
}

#generalServices .links {
    margin-top: 2px;
}
#generalServices .links li {
    display: inline-block;
    margin-right: 7px;
}


#slide-services {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}

#slide-services li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    height: 245px;
    overflow: hidden;
    left: 0;
    top: 0;
}

#slide-services li:first-child {
    position: relative;
    display: block;
    float: left;
}

#slide-services img {
    display: block;
    height: auto;
    float: left;
    width: 100%;
    border: 0;
}
#slide-services-pager {
    display: none
}
#slide-services-pager.rslides_tabs {
    display: table;
    position:static;
    bottom:10px;
    left:0;
    width:100%;
    z-index:999;
    text-align:center;
}
#slide-services-pager li {
    position: relative;
    display:table-cell;
    vertical-align:middle;
    border:solid 1px #fff;
    border-width:1px 0 0 0;
    background-color:#ececec;
    width:33%;
}
#slide-services-pager li img {
    display:none;
}
#slide-services-pager li+li {
    border: solid 1px #fff;
    border-width: 1px 0 0 6px;
}
#slide-services-pager li.rslides_here {
    background-color:#000;
}
#slide-services-pager li.rslides_here img {
    display: block;
    position: absolute;
    top: -13px;
    left:0;
    right:0;
    margin: 0 auto;
    z-index:10;
}
#slide-services-pager li a {
    display:inline-block;
    width:100%;
    height:auto;
    padding:28px 0;
    text-indent:0;
    background:none;
    margin:0;
    font: 1.167em 'roboto';
    font-weight: 700;
    text-transform: uppercase;
}
#slide-services-pager li.rslides_here a {
    color:#fff;
}
#slide-services-pager li a strong {
    display:block;
    font: 1.714em 'roboto';
    font-weight: 700;
}

/**Page Horaires et acces**/
.globalInfos {
    clear:both;
}

#wrapper .globalInfos h2 span {
    padding-left:0;
}

.globalInfos h3 {
    font-size:1.3em;
    text-transform:uppercase;
    margin:20px 0 5px;
}

.globalInfos li b {
    font-weight:bold;
}

.mallContent #global .globalInfos div p{
    font-weight: 300;
}

.mallContent #global .globalInfos div p b,.mallContent #global .globalInfos div p strong{
    font-family: inherit;
    font-size:inherit;
    font-weight: 700;
}

.globalInfos >div {
    float:left;
    width:48%;
    margin:0 1% 50px 0;
}

.globalInfos div iframe {
    width:100%;
}

.globalInfos ul li {
    font-size:1.2em;
    line-height:1.5em;
    font-family:roboto;
}

.globalInfos div a {
    font-family:roboto;
    font-weight:300;
    text-transform:uppercase;
    text-decoration:underline;
    margin:5px 0 0;
    display:block;
}

/**carto**/
.plan_du_centre_frame {
    width:100%;
    border-bottom:1px solid #ccc;
    margin:0 0 30px;
    height:590px;
}

/**resultats recherche**/
.results,.resultShop,.resultArticle,.allResults {
    margin:0 0 50px;
}

.results {
    position:relative;
}

.results form {
    position:absolute;
    right:0;
    top:0;
}

.results input[type='text'] {
    padding:10px 0 10px 20px;
    width:382px;
    font-family: roboto;
    font-size: 1.1em;
    color: #aaa;
}

.results p {
    font-size:2em;
    font-family:roboto;
    font-weight:700;
    color:#bb9854;
}

.results>p{
    background:url("../images/arrow-right.png") 1px 14px no-repeat;
    padding:  0 0 0 15px
}

.title {
    background-color:#f1f1f1;
    clear:both;
    margin:0 0 20px;
    font-family:roboto;
    font-weight:700;
    font-size:1.4em;
    text-transform:uppercase;
    padding:5px 0 5px 15px;
}

.resultShop li {
    height:102px;
    margin:0 0 15px;
    clear:both;
}

.resultShop img {
    border:1px solid #CCC;
    padding:10px;
    float:left;
    margin:0 15px 0 0;
    max-height:80px;
}

.resultShop p {
    margin:5px 0;
}

.resultShop strong {
    font-family:roboto;
    font-weight:700;
    font-size:1.4em;
    color: #333;
}

.resultShop a img {
    background: none;
}

.resultShop a p{
    float: left;
    margin:0 20px 0 0;
    font-size: 1.2em;
    text-decoration: underline;
    background: url("../images/bullet.png") no-repeat -5px 4px;
    padding-left: 10px;
}

.resultArticle li+li {
    border-top:1px solid #ccc;
    margin:20px 0 0;
    padding:20px 0 0;
}

.resultArticle h2,.resultArticle .cat {
    text-align:left;
    font-family:roboto;
    font-weight:700;
    font-size:1.4em;
    padding-bottom: 10px;
    color: #333;
}

.resultArticle .cat {
    margin:5px 0 0;
    font-size: 1.2em;
    color:#333;
    text-transform: none;
    padding-top: 5px;
    font-weight: 500;
}

/**carte de fidelite**/
.fidelityContent div {
    background-color:#F7F7F7;
    padding:20px 0 10px;
    text-align:center;
    margin:0 0 35px;
}

.fidelityContent div p {
    font-family:roboto;
    font-weight:300;
    font-size:1.4em;
    line-height:1.6em;
}

.fidelityContent div p a {
    font-size:0.8em;
    font-family:inherit;
    text-decoration:underline;
    display:block;
    padding:0 0 20px;
}

#wrapper .fidelity> ul {
    border-top:none;
    padding:0;
}

/**page evenement**/
.eventContent{
    padding:20px 7% 70px;
    text-align:center;
}

.eventContent >p{
    font-size:1.750em;
    line-height:1.4em;
    margin:0 0 10px;
}

.eventContent .main-link{
    margin:30px auto 0;
    text-align:center;
    display:inline-block;
    padding:15px 30px;
    font-size:1.4em;
}

.eventContent form{
    width:100%;
    max-width:365px;
    margin:40px auto 0;
    text-align:left;
}
.eventContent form p{
    padding: 0 0 15px;
}
.eventContent form label{
    display:block;
    font-size:1.167em;
    font-family:roboto;
    margin:0 0 5px;

}
.eventContent form input[type='checkbox']{
    margin:0 10px 0 0;
}
.eventContent form input[type='text']{
    display:block;
    margin:0 0 15px;
    padding:2.5% 2%;
    width:96%;
    font-style:italic;
    color:#ccc;
}
.eventContent form input[type='text']:focus{
    color:#000;
    font-style:normal;
}
.eventContent form span{
    font-family:roboto;
    font-style:italic;
    cursor:pointer;
    text-decoration:underline;
    font-size:1.167em;
}
.eventContent form input[type='submit']{
    display:block;
    background-color:#000;
    font-family:roboto;
    color:#fff;
    padding:10px 15px;
    text-transform:uppercase;
    margin:45px auto 0;
}

/**contenus additionnels (CGU,form)**/
.additionalContent #global,.mallContent #global {
    width:72%;
    float:right;
    margin:0 0 50px;
}

.additionalContent #global {
    background-color:#f6f6f6;
    padding:2%;
}

.additionalContent #sidebar,.mallContent #sidebar {
    float:left;
    width:22%;
}

body .additionalContent #global h2,.mallContent #global h2 {
    color:#333;
    text-transform:uppercase;
    text-align:left;
}

body .additionalContent #global h2{
    margin: 10px 0;
}
.mallContent #global h2 {
    margin: 0 0 10px;
}

.mallContent #global h2,#wrapper #jobOffer h2 {
    font-family:roboto;
    font-weight:100;
}

body .additionalContent #global >h2 {
    font-size:1.5em;
    background:none;
    font-family:roboto;
}

.additionalContent #global p {
    margin:0 0 20px;
}

#container #wrapper.additionalContent #global p b{
    font-family: inherit;
    font-size: inherit;
    font-weight: 700;
}

#container .additionalContent #global h4{
    font-family: roboto;
    font-size: 1.3em;
    font-weight: 700;
}

#container .additionalContent #global ul li{
    font-family: roboto;
    font-size: 1.167em;
    list-style: outside none disc;
    margin: 0 0 4px 14px;
}

/*formulaires*/
.survey-view form {
    font-family:roboto;
    font-weight:300;
}

.survey-view form,.globalForm {
    margin:0 0 30px;
}

.globalForm {
    padding:30px 0;
}

.survey-view form input,.globalForm input,.survey-view form textarea,.globalForm textarea,.survey-view form label,.globalForm label,.survey-view form select,.contentForm select,.otherForm p {
    font-family:roboto;
    font-weight:300;
    font-size:1.167em;
}

.survey-view form label a,.globalForm label a,.otherForm a {
    font-family:roboto;
    font-weight:300;
    font-size:inherit;
    text-decoration:underline;
}

.survey-view form input,.survey-view form label,.contentForm input,.contentForm label,#club-inscription .otherForm input[type="text"] {
    display:block;
}

.survey-view form label,.contentForm label {
    margin:0 0 10px;
}

.survey-view form input[type="text"],.survey-view form input[type="number"],.survey-view form select,.contentForm input[type="text"],.contentForm input[type="number"],.contentForm select,.globalForm textarea,.contentForm input[type="password"] {
    margin:0 0 30px;
    padding:8px 5px;
}
#global .globalForm input[type="checkbox"] {
    display: inline-block;
    margin-bottom: 25px;
    margin-left: 10px;
    vertical-align: -2px;
}
#global .survey-view form input[type="text"],#global .survey-view form input[type="number"],#global  .survey-view form select,#global .contentForm input[type="text"],#global .contentForm input[type="number"],#global .contentForm select,.globalForm textarea {
    width:50%;
}
#club-inscription .contentForm input,.globalForm textarea {
    width:100%;
}

#club-inscription .contentForm select {
    width:102%;
    background: #fff;
}

.survey-view form select,.contentForm select {
    width:51.5%;
}

.validation input[type='checkbox'],.validation label {
    display:inline !important;
}

.validation input[type='checkbox'],.validation label {
    vertical-align:middle;
    margin:10px 0;
}

.validation input[type='submit'] {
    position: relative;
    float:right;
    background-color:#000;
    color:#fff;
    font-family:roboto;
    font-weight:700;
    text-transform:uppercase;
    margin:50px 0 0;
    font-weight:normal;
    font-size:1.2em;
    width:auto;
    padding: 0 30px;
}

.validation #otherMall li {
    clear:both;
}

.validation #otherMall li+li {
    border-top:1px dotted #ccc;
    padding:15px 0 0;
}

.validation #otherMall li img {
    float:left;
    margin:10px 4% 15px 0;
    width:130px;
}

.validation #otherMall li p {
    font-family:roboto;
    font-weight:300;
    font-size:1.5em;
}

#errorContainer,.warning {
    padding:0 8%;
}

.warning h2 label {
    text-transform:none;
    color:#CB253D;
    font-size:0.8em;
}


.renderedtable td {
    font-family: "roboto";
    font-size: 1.22em;
    font-weight: 300;
    line-height: 1.6em;
}

#contactUs  .validation,.survey-view fieldset+fieldset {
    padding:20px 0 0;
    width:71%;
}

#contactUs .contentForm textarea,.survey-view textarea {
    width:70%;
}

#club-inscription {
    background-color:#f6f6f6;
    padding:2% 0;
}

#club-inscription .contentForm,#club-inscription .otherForm {
    float:left;
    width:45.1%;
    padding:0 2% 21px;
    margin:10px 0 0;
}

#club-inscription .validation {
    clear:both;
    padding:0 2%;
    margin:auto;
}

#club-inscription .validation+.validation {
    border-top:1px solid #ddd;
    padding-top:40px;
    margin-top:40px;
}

#club-inscription  .otherForm label {
    line-height:18px;
}

#club-inscription h2 {
    font-family:roboto;
    font-size:2em;
    margin:0 0 20px;
    text-transform:uppercase;
}

#club-inscription .validation input[type='submit'] {
    float:none;
    margin:30px auto 0;
    display:block;
    width:130px;
}

/**job Offer**/
#wrapper #jobOffer>li {
    margin:0 0 40px;
}

#wrapper #jobOffer h2 span {
    padding-left:0;
    background-color:#f6f6f6;
}

#wrapper #jobOffer p {
    font-family:roboto;
    font-weight:300;
    font-size:1.167em;
}

#wrapper #jobOffer li ul {
    margin:0 0 20px;
}

#wrapper #jobOffer li ul li {
    margin:3px 0;
    font-family:roboto;
    font-weight:300;
    font-size:1.167em;
}

#wrapper #jobOffer p a {
    font-family:inherit;
    text-decoration:underline;
    font-size:inherit;
}

/**FOOTER**/
#container footer {
    clear:both;
    background-color:#000;
    padding:50px 70px;
    max-width:1069px;
    margin:auto;
}
#container footer >div{
    margin-bottom:50px;
}
#container footer .left{
    float:left;
    width:30%;
}

#container footer .right{
    float:right;
    width:30%;
    padding:0 15% 0 0;
    margin-right:10%;
    background:url('../images/mobile.png') no-repeat right center;
}
#container footer h2 {
    font-family:roboto;
    text-transform:uppercase;
    color:#fff;
    font-weight:700;
    font-size:1.4em;
    padding-bottom:15px;
}
#container footer .left h2{
    padding-left:40px;
    background:url('../images/bullet.png') no-repeat -6px -427px;
    width:100%;
}
#container footer div p,#container footer div ul li{
    color:#cbcbcb;
    font-size:1.2em;
    font-family:roboto;
}
#container footer div ul li{
    background:url('../images/bullet.png') no-repeat -5px -377px;
    padding:5px 0 5px 20px;
}
#container footer form {
    position:relative;
    margin:20px 0 0;
}
#container footer input[type="text"] {
    width:95%;
    padding:10px 2.5%;
    background-color:#000;
    font-size:1.167em;
    font-style:italic;
    color:#aeaeae;
    border:1px solid #4d4d4d;
}
#container footer  input[type="text"]:focus {
    font-style:normal;
}
#container footer  input[type="submit"] {
    position:absolute;
    color:#fff;
    text-transform:uppercase;
    font-family:roboto;
    font-weight:300;
    right:-1px;
    top:1px;
    height:37px;
    width:37px;
    padding:5px;
    background: none #1e1e1e;
}
#container footer .right p{
    margin:0 0 30px;
}
#container footer .right a{
    margin-left:36px;
    display:block;
    background:url('../images/bullet.png') no-repeat -15px -937px;
    text-indent:-9999px;
    width:150px;
    height:43px;
}
#container footer .right .google{
    background-position:-13px -981px;
    margin-top:15px;
}
footer nav {
    clear:both;
    margin:0 0 28px;
    padding:18px 0;
    border-top:1px solid #4d4d4d;
    border-bottom:1px solid #4d4d4d;
    text-align:center;
}
footer nav ul li {
    display: inline-block;
    padding: 4px 0;
}
footer nav ul li a {
    text-transform:uppercase;
    font-family:roboto;
    font-weight:300;
    color:#cacaca;
    margin:0 9px;
}
footer nav ul li a:hover{
    text-decoration:underline;
}

footer .blocSocialMedia {
    margin:auto;
    text-align:center;
}

footer .blocSocialMedia li{display:inline;}

footer .blocSocialMedia li.logo-steenstrom{
    float:right;
    margin-top:-20px;
    margin-left:-89px;
}
footer .blocSocialMedia li.logo-steenstrom a{
    background:url('../images/content/logo-steenstrom.png') left center no-repeat ;
    width:89px;
    height:49px;
}
footer .blocSocialMedia li a{
    display:inline-block;
    width:25px;
    height:25px;
    background:url('../images/bullet.png') no-repeat -35px -75px ;
    text-indent:-9999px;
}

footer .blocSocialMedia li+li a{
    margin:0 0 0 12px;
}

footer .blocSocialMedia .twitter a{
    background-position:-34px -139px;
}
footer .blocSocialMedia .pinterest a{
    background-position:-34px -204px;
}
footer .blocSocialMedia .instagram a{
    background-position:-67px -138px;
}
footer .blocSocialMedia .youtube a{
    background-position:-34px -740px;
}
/*cas footer si pas d'appli*/
#container .no-app-content .left{
    float:none;
    width:100%;
}
.no-app-content .left ul,.no-app-content .left ul li,.no-app-content .left p{
    float:left;
}
#container .no-app-content .left form{
    margin:0 2px 40px 0;width:25%;float:right;
}
.no-app-content .left ul,.no-app-content .left p{
    margin:5px 10px 5px 0 ;
}
#container .no-app-content  input[type="submit"] {
    right:0px;
}

/*bouton scroll top site*/
.scrollToTop{
    position:fixed;
    right:0px;
    bottom:150px;
    width:80px;
    height:80px;
    background:url('../images/bullet.png') no-repeat -40px -314px  #bababc;
    text-indent:-9999px;
    cursor:pointer;
    display:none;
}

/**modals**/
#fade {
    display:none;
    background:url('../images/bg-fade.png') repeat top left;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:1000;
}

.popup_overlay {
    display:none;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:1099;
    background: url("../images/bg-fade.png");
}

.popup_block {
    display:none;
    position:fixed;
    top:0;
    left:49.95%;
    z-index:1100;
    box-shadow:0 0 30px #b3b3b3;
    border:1px solid #d6d6d6;
    background-color:#fff;
    padding:30px 0;
}

.popup_block input[type="text"],.popup_block input[type="password"] {
    margin:2px 0 12px;
    color:#666666;
    font-size:1.167em;
    font-family:roboto;
    font-weight:300;
    padding:3%;
}

.popup_block input[type="submit"] {
    background-color:#000;
    color:#fff;
    margin:10px 0 0;
    font-family:roboto;
    font-weight:700;
    text-transform:uppercase;
    padding:10px 20px;
    font-size:0.967em;
    float:right;
}

.popup_block .close, .popup_block .closeSecond {
    color:#555;
    font-size:22px;
    height:24px;
    padding:8px 0;
    position:absolute;
    right:1px;
    text-align:center;
    top:1px;
    width:40px;
    font-family:roboto;
}
.appstore,.googleplay {
    background:url('../images/bullet.png') no-repeat -31px -966px;
    display:inline-block;
    text-indent:-9999px;
    height:40px;
    width:108px;
    vertical-align:middle;
}
.googleplay {
    background-position:-31px -1022px;
}

/**modal newsletter**/
#modal-newsletter{margin-left: -390px;max-width: 780px;top: 0;width: 96%;padding:0 3% 0 0;}
#modal-newsletter img{float:left;margin:0 35px 0 0;}
#modal-newsletter span{display:block;font-family:roboto;font-weight:700;text-transform:uppercase;color:#C6AE8A;font-size:4.5em;margin:57px 0 0;}
#modal-newsletter p{font-family:roboto;font-weight:300;color:#5c5c5c;font-size:1.4em;margin:40px 0 0 0;line-height:1.25em;}
#modal-newsletter form{margin:15px 0 0;}
#modal-newsletter form input[type='text']{width:30%;padding:9px;margin:0 0 5px;}
#modal-newsletter form input[type='submit']{margin:0 0 5px;}
.close-2{text-decoration:underline;color:#c6ae8a;font-family:roboto;font-weight:300;font-size:1.167em;}

/**modal inscription**/
#modal-inscription {
    max-width:785px;
}
#create-inscription,#connexion {
    float:left;
    width:39%;
    padding:0 5% 4px;
    margin:0 0 30px;
}
#create-inscription {
    border-right:1px solid #bababb;
    position:relative;
}

#wrongPwd,#create-inscription >form+.links +form,#connexion div,#modal-inscription #create-inscription >span+span.links{
    display:none;
}

#modal-inscription >div>span {
    display:block;
    font-family:roboto;
    font-weight:300;
    font-size:2em;
    text-transform:uppercase;
    margin:0 0 25px;
}

#modal-inscription div .links {
    text-decoration:underline;font-size:1.167em;display:block;
    font-family:roboto;
    font-weight:300;
    text-transform:none;
    cursor:pointer;
}

#modal-inscription form input[type="text"],#modal-inscription form  input[type="password"] {
    width:94%;
}
#modal-inscription form p ,#modal-inscription form label{
    margin:2px 0;
    font-family:roboto;
    font-weight:300;
    font-size:1.167em;
    line-height:1.3em;
}
#modal-inscription form  input[type="checkbox"] {
    margin:2px 5px 0 0;
    vertical-align:text-top;
}
#fb-connect {
    border-top:1px solid #bababb;
    float:left;
    width:39%;
    margin:0 5%;
    padding:30px 0 0;
}
#modal-inscription em {
    display:block;
    font-size:0.917em;
    margin:0 5%;
    font-family:roboto;
    font-weight:300;
    clear:both;
}

#create-inscription form{
    margin:0 0 2px;
}

#create-inscription >span.links{
    line-height: 1.2em;
    position: absolute;
    right: 37px;
    top: -3px;
    width: 110px;
    text-align:right;
}

#modal-inscription #wrongPwd input[type="text"] {
    margin:10px 0 5px;
    width:71%;
}

#connexion strong{
    font-family:roboto;
    display:block;
    margin:0 0 4px;
    font-weight:700;
    font-size:1.167em;
}

/**Modals ajouts liste envie**/
.popup_block.alert, .modal-wishlist, #modal-add-wishlist,#modal-shopping-alert{
    max-width:755px;
    padding:40px 20px;
}
.popup_block.alert p, .modal-wishlist p, #modal-add-wishlist p,#modal-shopping-alert p{
    text-align:center;
    font-size:1.8em;
    margin:0 0 50px;
}
.popup_block.alert div, .modal-wishlist div, #modal-add-wishlist div,#modal-shopping-alert div{
    text-align:center;
}
.popup_block.alert div a, .modal-wishlist div a, #modal-add-wishlist div a	,#modal-shopping-alert div a{
    display:inline-block;
    margin:0 20px;
    width:180px;
}
.popup_block#confirmation-forggotPassword p,
.popup_block#confirmation-inscription p {font-size: 1.2em;}
.popup_block#confirmation-forggotPassword p strong,
.popup_block#confirmation-inscription p strong {font-size: 1.8em;font-family: roboto;font-weight:normal;}
.popup_block#confirmation-forggotPassword p a {
    background-color:#333;
    display:inline-block;
    width:50px;
    font-family: roboto;
    color:#fff;
    padding:12px 15px;
    text-transform:uppercase;
    text-align:center;
    font-size:1em;
}

/**modal confirmation**/
#confirmation-inscription,.confirmation-inscription{max-width:500px;padding:20px;}
#confirmation-inscription p, .confirmation-inscription p{font-family:roboto;font-weight:100;text-align:center;font-size: 1.8em;line-height:1.3em;margin:15px 0 0;}
#confirmation-inscription p strong, .confirmation-inscription p strong{font-family:roboto;font-weight:300;font-size:1.3em;}
#confirmation-inscription p a,.confirmation-inscription p a {font-family:roboto;font-weight:100;font-size: 1em;text-decoration: underline; display: inline !important; margin: 0 !important;}

#confirmation-inscription, .confirmation-inscription {
    max-width: 500px !important;
}

#confirmation-inscription.popup_block.alert p, .confirmation-inscription.popup_block.alert p {
    font-family: roboto;
    font-weight: 100;
    text-align: center;
    font-size: 1.8em;
    line-height: 1.3em;
    margin: 15px 0 0;
}

#confirmation-inscription.popup_block.alert p, .confirmation-inscription.popup_block.alert {
    padding: 20px;
}

/**Jquery UI helper pour datepicker**/
.ui-helper-hidden {
    display:none;
}

.ui-helper-hidden-accessible {
    border:0;
    clip:rect(0 0 0 0);
    height:1px;
    margin:-1px;
    overflow:hidden;
    padding:0;
    position:absolute;
    width:1px;
}

.ui-helper-reset {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    line-height:1.3;
    text-decoration:none;
    font-size:100%;
    list-style:none;
}

.ui-helper-clearfix:before,.ui-helper-clearfix:after {
    content:"";
    display:table;
    border-collapse:collapse;
}

.ui-helper-clearfix:after {
    clear:both;
}

.ui-helper-clearfix {
    min-height:0;
    /* support:IE7 */}
.ui-helper-zfix {
    width:100%;
    height:100%;
    top:0;
    left:0;
    position:absolute;
    opacity:0;
    filter:Alpha(Opacity=0);
}

.ui-front {
    z-index:100;
}

.ui-state-disabled {
    cursor:default !important;
}

.ui-icon {
    display:block;
    text-indent:-99999px;
    overflow:hidden;
    background-repeat:no-repeat;
}

.ui-widget-overlay {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.ui-autocomplete {
    cursor:default;
}

.ui-menu {
    list-style:none;
    padding:2px;
    margin:0;
    display:block;
    outline:none;
}

.ui-menu .ui-menu {
    margin-top:-3px;
    position:absolute;
}

.ui-menu .ui-menu-item {
    margin:0;
    padding:0;
    width:100%;
}

.ui-menu .ui-menu-divider {
    margin:5px -2px 5px -2px;
    height:0;
    font-size:0;
    line-height:0;
    border-width:1px 0 0 0;
}

.ui-menu .ui-menu-item a {
    text-decoration:none;
    display:block;
    padding:2px .4em;
    line-height:1.5;
    min-height:0;
    font-weight:normal;
}

.ui-menu .ui-menu-item a.ui-state-focus,.ui-menu .ui-menu-item a.ui-state-active {
    font-weight:normal;
    margin:-1px;
}

.ui-menu .ui-state-disabled {
    font-weight:normal;
    margin:.4em 0 .2em;
    line-height:1.5;
}

.ui-menu .ui-state-disabled a {
    cursor:default;
}

.ui-menu-icons {
    position:relative;
}

.ui-menu-icons .ui-menu-item a {
    position:relative;
    padding-left:2em;
}

.ui-menu .ui-icon {
    position:absolute;
    top:.2em;
    left:.2em;
}

.ui-menu .ui-menu-icon {
    position:static;
    float:right;
}

/*PUB DFP*/
.pave-pub {
    text-align:center;
    margin:0 0 15px;
}

#intersticiel {
    padding:30px 0 0;
    left:50%;
    top:50%;
    margin-left:-400px;
    margin-top:-200px;
    max-width:800px;
    position:fixed;
    z-index:9999;
}

.fade_pub {
    background:url('../images/bg_pub.png') repeat top left;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:999;
}

#accessSite {
    background-color:#fff;
    display:block;
    font-family:roboto;
    font-weight:300;
    font-size:1.2em;
    margin:0 auto 20px;
    padding:4px 0;
    text-align:center;
    width:222px;
    cursor:pointer;
}

.megaban {
    text-align:center;
    margin-bottom:30px;
    overflow:hidden;
    clear:both;
}

#habillage div>div {
    height:1px;
    margin:175px 0 0;
}

#habillage div  >ins {
    left:50%;
    margin:-140px 0 0 -630px;
}

/**Bandeau CNIL cookie**/
#cookies-infos{box-shadow:1px -1px 2px #ddd;position:fixed;bottom:-1px;right:-1px;background-color:#f8f8f8;width:280px;z-index:999;padding:0 0 7px;border:1px solid #ccc;}
#cookies-infos p{font-family:roboto;font-weight:300;font-size:11px;padding:22px 12px 0;text-align:justify;line-height:1.4em;}
#cookies-infos p a{display:block;margin:3px 0 0;font-family:inherit;font-size:inherit;text-decoration:underline;}
#cookies-infos span{position:absolute;font-size:13px;border-left:1px solid #ddd;border-bottom:1px solid #ddd;color:#555;right:0; top:0;padding:2px 6px;cursor:pointer;background-color:#fff;}

/*page d'erreur*/
section.additionalContent article.additionalContent p{
    background: url("../images/bullet.png") no-repeat scroll -5px 9px rgba(0, 0, 0, 0);
    font-size: 1.5em;
    margin: 0 0 40px;
    padding: 0 0 0 15px;
}

/*google trad*/
body .goog-te-banner-frame{position:inherit !important;}

/*bloc mobile pour home*/

#mobile-category {
    display:none;
}

#mobile-category li{
    padding:15px 12px;
    border-bottom:1px solid #bababb;
    background:url('../images/bullet.png') no-repeat right -443px;
}
#mobile-category li a{
    font-family:roboto;
    color:#333;
    font-size:1.667em;
    text-transform:uppercase;
    display:block;
}
/*pour jeu concours*/
.additionalContent article#global a img{width:100%;}

div#container main#wrapper.rubrique article.sendPassword p{
    font-size: 2.25em;
    margin: 30px auto 80px;
    text-align: center;
}

/* test ie version */
#iePop{
    text-align: center;background-color: #cecece;vertical-align: middle; padding: 40px 0;line-height: 2;display:none;
}

#iePop p{
    width: 720px;
    margin: 0 auto;
}

#iePop a{
    text-decoration: underline;
}

#iePop p span{
    float: right;
    cursor: pointer;
}

#ReservationForm {
    clear: both;
}

#ReservationForm .contentForm {
    padding: 30px;
    background: #f6f6f6;
    margin-bottom: 20px;
}


#ReservationForm .validation input {
    padding: 17px;
    display: block;
    width: 230px;
    margin: 30px auto 0;
    font-size: 12px;
    float: none;
}

.ReservationTable {
    /*display: none;
    */}

.ReservationTable .monthes {
    width: 100%;
    height: 40px;
    text-align: center;
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
    font-size:14px;
    padding-bottom: 40px;
    padding-top: 20px;
}

.ReservationTable .monthes p {
    font-size: 1.6em;
}

.ReservationTable .monthes a {
    position: absolute;
    top: 15px;
    width: 40px;
    height: 40px;
}

.ReservationTable .legend {
    float: right;
    padding: 15px 0 0;
}

.ReservationTable .legend p {
    float: left;
    font-size: 12px;
    font-style: italic;
    margin-left: 20px;
}

.ReservationTable .legend p:before {
    content: "";
    float: left;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    margin-top: 3px;
}
.ReservationTable .schedules td > .available,
.ReservationTable .schedules td > .full {
    margin-top: 10px;
    padding: 20px 5px;
    cursor: default;
}

.ReservationTable .schedules td > .available {
    background: #4fca9c;
    transition: all 0.4s ease;
}
.ReservationTable .schedules td > .full {
    background: #f15d5d;
}

.ReservationTable .schedules td > .available.userAvailable:not(.past):hover,
.ReservationTable .schedules td > .available.userAvailable:not(.past).selected {
    box-shadow: 0 0 0 1px #308f61 inset;
    cursor: pointer;
}
.ReservationTable .schedules td > .available.userAvailable:not(.past).selected {
    background-color: #1f8e65;
}
.ReservationTable .schedules td > .userFull,
.ReservationTable .schedules td > .past {
    background-color: #bebebe;
}

.ReservationTable .legend p.available:before {
    background: #4fca9c;
}
.ReservationTable .legend p.past:before {
    background: #bebebe;
}

.ReservationTable .legend p.full:before {
    background: #f15d5d;
}

.ReservationTable .monthes .previous {
    left:0;
    background: url(../images/bullet.png) no-repeat 0 -525px;
}

.ReservationTable .monthes .next {
    right: 0;
    background: url(../images/bullet.png) no-repeat 0 -580px;
}

.ReservationTable table {
    width: 100%;
}

.ReservationTable table td {
    margin-top: 10px;
    padding: 2px 5px;
    text-align: center;
    font-style: italic;
    color: #fff;
}


.ReservationTable table td.active {
    border:4px solid #fff;
}

.ReservationTable table th {
    font-weight: bold;
    color: #595959;
    padding: 0 5px;
    text-transform: uppercase;
}
.ReservationTable .contentForm > span {}
.ReservationTable .contentForm > .error {
    display: block;
    margin: 5px 5px 25px -9px;
}
.ReservationTable .contentForm > span.required {}
.ReservationTable .contentForm input {
    display: inline-block;
}
.ReservationTable .contentForm > .error .requiredText {
    font-size: 15px;
}
.ReservationTable .contentForm .required input,
.ReservationTable .contentForm .required select,
.ReservationTable .contentForm .required textarea {
    border-color: #f15d5d;
}
.ReservationTable .contentForm .required .requiredText {
    display: inline-block;
}
.ReservationTable .contentForm label sub {
    color: #f15d5d;
}
.ReservationTable .contentForm .requiredText {
    color: #f15d5d;
    display: none;
    font-weight: bold;
    padding-left: 10px;
}
#mobile-app-download {
    display: none;
}
.survey-choices.float-break {
    padding-bottom: 1em;
}

.survey-choices.float-break .element input, .survey-choices.float-break .block input {
    display: inline-block;
    vertical-align: middle;
}

.survey-choices.float-break .element {
    display: inline-block;
    margin-right: 4em;
}

#mobile-app-download {
    display: none;
}

#movieTrailerContainer iframe{
    height:500px;
}

.loading {
    margin: auto;
    display: block;
    background: url("../images/loading.gif") no-repeat center center;
    height: 30px;
    width: 100%;
}
b,
#global b,
#generalServices b,
#extended_text b{
    font-weight: bold;
}

#generalServices b, #extended_text b {
    font-family: "roboto";
    font-size: inherit;
    font-weight: bold;
}

#generalServices b, #extended_text h2 b {
    font-size: inherit;
    font-weight: 500;
}

#generalServices b, #extended_text b i {
    font-family: "roboto";
    font-size: inherit;
}

#generalServices b, #extended_text a {
    font-family: "roboto";
    font-size: inherit;
    text-decoration: underline;
}

#generalServices b, #extended_text b a, b a {
    font-weight: bold;
}
u,
#global u,
#generalServices u,
#extended_text u{
    text-decoration:underline;
}
i,
#global i,
#generalServices i,
#extended_text i{
    font-style:italic;
}

/*----- NICO (BONS PLANS)
-----------------------*/

body .rubrique #couponsListing .item.soon {
    border-width: 2px;
}
body .rubrique #couponsListing .item.soon .accessOffer .access-infos {
    display: inline-block;
    width: auto;
    bottom: 15px;
    left: 15px;
    margin-left: auto;
    right: 15px;
    top: auto;
}
body .rubrique #couponsListing .mask-bonplan {
    display: none;
}
body .rubrique #couponsListing .soon .mask-bonplan {
    display: block;
    bottom: 0;
    left: 0;
    opacity: 0.2;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 3;
}
body .rubrique #couponsListing .soon .accessOffer {
    top: 0;
}

.survey-view .block .button {
    position: relative;
    float:right;
    background-color:#000;
    color:#fff;
    font-family:roboto;
    font-weight:700;
    text-transform:uppercase;
    margin:30px 235px 0 0;
    padding:10px 20px;
    font-weight:normal;
    font-size:1em;
    width:auto;
    padding: 0 30px;
}

.otherForm img {
    display:block;
    margin:auto;
}

.otherForm .image img {
    display: inline-block;
}

.otherForm input,.otherForm label {
    vertical-align:middle;
}

.additionalContent .description {
    font-family: roboto;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.6em;
    margin: 0 0 30px;
}

.description.otherForm > h2 {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    color: #000000 !important;
    font-family: "roboto" !important;
    font-size: 1.3em !important;
    font-weight: 500 !important;
    text-transform: none !important;
}

.description.otherForm div div.image img {
    display: inline-block;
}

.otherForm p {
    margin:10px 0 5px;
}
/* end: extension/klepierre-ext/design/local_v2/stylesheets/styles.css */

/* start: extension/klepierre-ext/design/local_v2/stylesheets/styles_override.css */
@font-face
{
    font-family: "angelina";
    src: url(../css/angelina.html);
}

/* cinéma : largeur auto des images d'un film */
#moreInfos div ul li {
    width: auto;
}

/* ezSurvey */
.cgu_block {
    margin-top: 20px;
}
.cgu_block > * {
    float: left;
    line-height: 20px;
}

.survey-view .message-warning {
    display: none;
}

/* user forgot password */
#forgotpassword .validation input[type=submit] {
    margin-bottom:15px;
}

.rubrique #couponsListing .item {
    width: 29%;
}

/* FB wall d'une boutique */
#socialFeed {
    text-align: center;
}

.boutique #addContent .subContent {
    min-height: 550px;
}
#addContent :not(.active) .subContent {
    z-index: 0;
}

ul#addContent > li:not(.active) .subContent * {
    visibility: hidden !important;
}

.rubrique #couponsListing .item.fulldetailPromo {
    width:65.2%;
}

.eventContent .warning {
    color: #cb253d;
    padding: 0;
    margin-bottom: 30px;
}
#modal-newsletter form{
    margin:15px 0;
}
/**Erreur 404**/
#error-404{position:relative;max-width:910px;margin:0 auto;}
#error-404 img{
    float:left;
    margin:0 10px 180px 0;
}
#error-404 h1{
    font-family:roboto;font-size:4em; padding:23.5% 0 0;
    line-height:1.25em;
}
#error-404 p{
    background: url("../images/fleche.gif") no-repeat scroll right top rgba(0, 0, 0, 0);
    color: #c4b182;
    font-family: angelina;
    font-size: 5em;
    padding: 17px 30px 0 0;
    position: absolute;
    right: 9%;
    top: 0;
}

.warning h2{
    text-align: center !important;
}

#errorContainer h2{
    color:red !important;
    text-align: center !important;
}
#gplusone{
    margin:7px 0;
}
.captcha{
    float:left;
}
.captcha_block{
    margin-top:20px;
}
/* end: extension/klepierre-ext/design/local_v2/stylesheets/styles_override.css */

