/**screen + petit et tablette**/
@media only screen and (min-width:781px) and (max-width:1110px){
    body #logo{margin:10px 10px 25px;}
    body #mainNav > ul{height:50px}
    body #mainNav > ul > li > a{padding:15px 10px;}
    body #mainNav ul .right a{background:none;padding:18px 11px;}
    body #mainNav .sub-menu{top:50px;}
    body #mainNav .sub-menu li{padding:0 10px;}
    body #mainNav >ul >li:hover a+.sub-menu li,#mainNav >ul >.active> a+.sub-menu li {height:auto;padding:12px 10px;}
    body #opening{width:46%;margin:38px auto 0;}
    body #opening li a{font-size:1.6em;}
    body #servicesContent li + li{margin-top:7px;}

    /*gestion listing article*/
    #listingArticles .bloc-3 li{left: 3%;top: 3%;}
    #listingArticles .bloc-3 li + li{left: 33%;top: 5%;}
    #listingArticles .bloc-3 li + li + li{right: 3%;top: 3%}
    #listingArticles .bloc-5 li{left:2%;top:2%;}
    #listingArticles .bloc-5 li+li{left:33%;top:3%;}
    #listingArticles .bloc-5 li+li+li{left:65%;top:3%;}
    #listingArticles .bloc-5 li+li+li+li{left:17%;top:23%;}
    #listingArticles .bloc-5 li+li+li+li+li{left:50%;top:21%;}

    /*gestion fiche catalogue*/
    #wrapper .catalogueDetails > div{width:100%;}
    body #accessCatalogue > li {width: 19%;}
    body #blocCatalogue .carousel-catalogue{width:80.5%;}
    /*rubrique shopping*/
    body .shopListing h2{display:block;width:100%;margin:0 0 10px;}
    body .shopListing ul{display:block;width:100%;}
    body .shopListing .column-type-2 {width: 24.5%;}

    #generalServices li div + div {top: 90px;}
}
/**ajustement**/
@media only screen and (min-width:781px) and (max-width:910px){
    body #mainNav > ul > li > a{font-size:16px;padding:17px 8px;}
    body #mainNav ul .right a{padding:18px 8px;}
    body #secondaryNav li a{padding:0 11px;}
    body #servicesContent li + li{margin-top:5px;}
    /*gestion listing article*/
    #listingArticles .bloc-3 li{left: 7%;top: 3%;}
    #listingArticles .bloc-3 li + li{left: 37%;top: 5%;}
    #listingArticles .bloc-3 li + li + li{right: 7%;top: 3%}
    #listingArticles .bloc-5 li{left:9%;top:2%;}
    #listingArticles .bloc-5 li+li{left:36%;top:3%;}
    #listingArticles .bloc-5 li+li+li{left:63%;top:2%;}
    #listingArticles .bloc-5 li+li+li+li{left:22%;top:23%;}
    #listingArticles .bloc-5 li+li+li+li+li{left:48%;top:21%;}

    #generalServices h2 {font-size: 1.333em;}
    #generalServices li div + div {top: 80px;}
}
@media only screen and (max-width:1024px){    
    #socialFeed{
        text-align:center;
    }
    #socialFeed .fbWall, #socialFeed > iframe, #socialFeed > div{
        margin-bottom:50px;
    }
}
/**Tablette + mobile**/
@media only screen and (max-width:780px){
    .image img{
        max-width:100%;
    }
	#container #habillage,#topBarSite ul > .app{display:none;}
	/**gestion header et nav principale**/
		body header{padding:0 !important;}
		body header >.int{padding: 0;}
		body header #logo{padding:10px 0;float:none;text-align:center;margin:0;}
		#logo img{max-height:57px;}
		#container.nav-mobile #opening{display:block;  min-height:100px; box-sizing:border-box; padding:0 1%; margin-top:30px;}
		#opening{background-color: #000;display: none;left: 0;line-height: 1.5em;margin: 0;/*padding: 10px 0 10px 5px;*/ padding:0;position: fixed;text-align: left;top: -1px;width: 202px;z-index: 1000;float:none;}	
		#opening a{font-size: 1.167em;}
		/*switch pour dérouler le sous menu*/
		#accessMobile{background:url("../images/bullet.png") no-repeat -123px -686px #fff;display: block;text-indent:-9999px;cursor:pointer;width:34px;height:30px;position:absolute;z-index:999;padding:22px;top:0;left:0;}
		
		/*nav MOBILE*/
		body{position:relative;-webkit-overflow-scrolling: touch;}
		
		#navigation{top:0;left:-220px;width:220px;z-index:999;height:92%;position:fixed;overflow-y:scroll;-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;transition:all 0.5s ease;background-color:#000;}
		
		.nav-mobile #navigation {padding:145px 0 0 0;z-index:999;left:0;-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;transition:all 0.5s ease;}
		.nav-mobile{overflow:hidden;}
		.access-mobile{display:block !important;}
		
		#container{position:relative;left:0;-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;transition:all 0.5s ease;}
		#container.nav-mobile{left:220px;-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;transition:all 0.5s ease;}
		
		body header #mainNav >ul {margin:0;height:auto;padding:0;}
		body #mainNav ul li,body #mainNav ul .right{float:none;border:none;}
		body #mainNav > ul > li > a{border-bottom: 1px solid #4d4d4d;margin: 0 12px;padding: 12px 0;}		
		body #mainNav .sub-menu{position:static;width:100%;}
		body #mainNav .sub-menu>li{background-color:#141414;}
		body #mainNav >ul >li:hover a+.sub-menu li,
		#mainNav >ul >.active> a+.sub-menu li {padding:8px 18px;}	
		body #mainNav .sub-menu>li a{color:#fff;}
		body #mainNav ul .right  a{padding:19px 23px 16px 45px;border:none;margin:0;}		
		body #topBarSite{position:static;}
		body #topBarSite .int{text-align:left;background-color:#373737;}
		body #secondaryNav, body #secondaryNav > li{display:block;padding:5px 0;}
		body #secondaryNav li a{border:none;line-height:1.4em;padding:0;color:#fff;}
		body #secondaryNav li a:hover{text-decoration:underline;}
		#topBarSite .blocSocialMedia li+li > a{margin:0 0 0 10px;}
		
		body header #globalSearch{background: url("../images/bullet.png") no-repeat  -118px -66px; height: 31px;padding: 26px;right: 0;top: 0; width: 36px;z-index: 55;cursor:pointer;}
		body header #globalSearch fieldset{background-color: #fff;display: none;left: -154px;padding: 16px 0;position: absolute;top: 8px;}
		body header #globalSearch input[type="text"]{width:98%;border:none;font-size:15px;color:#333;background-color: #eee; padding: 5px 1%;}
		body header #globalSearch input[type="submit"]{background: none;height: 35px; right: -37px;text-indent: -9999px;top: 20px;}
		body #autoCompletion{width:72%;left:0;right:inherit;top:85px;}
		
		body #sliderHome,body #servicesContent{width:100%;float:none;margin:0 0 15px;}
		body #slider h2 span{font-size:2.5em;}
		body #topbanner{height:auto;}
		
	/**bloc catalogue**/
		body #accessCatalogue{text-align:center;}
		body #accessCatalogue > li > span,#accessCatalogue > li > a{font-size:1.1em;padding:7px;text-align:center;background-color:#fff;display:inline-block;margin:0 0 3px;}
		body #blocCatalogue .carousel-catalogue{width: 100%;text-align:left;}

	/*pages services*/
		#slide-services li {height:auto;}
		#slide-services-pager li a {
			padding: 15px 0px;
			font: 1em "roboto";
		}
		#generalServices{margin:30px 0 50px;}
		#generalServices >li {padding:0 0 5px;}
		#generalServices >li +li {border:none;padding:0 0 5px;}
		#generalServices > li > ul > li{min-height:35px;}
	
	/*rubrique shopping*/
        body .shopListing h2{display:block;margin:0 0 10px;}
		body .shopListing ul,#generalServices > li > ul{display:block;width:100%;}
		#generalServices .category .category-title {
			width: 90%;
			background: url('../images/bullet.png') no-repeat -146px -450px #e1e1e1;
			margin: 0 0 5px;
			padding: 6px 1% 6px 9%;
			text-transform: none;
			font-weight: 300;
			cursor: pointer;
			clear: both;
			font-size: 2em;
		}

		#generalServices .category .category-title.current,
		#generalServices .category .category-title:hover {
			font-weight: normal;
			text-decoration: none;
		}

		#generalServices .category {
			width: 100%;

			line-height: 1;
		}

		#generalServices .services {
			display: block;
			position: static;
		}

		#generalServices .services .service {
			display: block;
			width: 100%;
			max-width: 100%;
			margin: 10px 0 20px 0;
			padding: 0 0 20px 0;
			overflow: hidden;

			border-bottom: 1px solid #e1e1e1;
		}

	#generalServices .services .service:last-child {
		margin-bottom: 0;

		border-bottom: none;
	}

		#generalServices .service .picto {
			float: left;
			width: 12%;
			min-width: 50px;
			margin-right: 20px;
			opacity: 1;
		}

		#generalServices .service .description {
			display: block;
			position: static;
			max-height: 9999px;
		}



	/*bloc service home*/
		body #servicesContent li{float:left;margin:0 0 50px;width:32%;}
		body #servicesContent li+li{margin-left:2%;}
        body #slide-services-pager li {display:block;width: 100%;border-left:0;}
        body #slide-services-pager li.rslides_here img {display:none;}
	
	/*gestion fiche catalogue*/
		body #wrapper .catalogueDetails > div{width:100%;}
		body #wrapper .catalogueDetails img{width:48%;}
	
	/*gestion titre*/
		.rubrique h1, #global > h1, .additionalContent h1, .mallContent h1{background:none;height:auto;margin:15px 0 20px;}
		body .rubrique article h1{text-align:left;padding:0;}
		#wrapper h1 span{padding:0;font-size:2em;}
		#wrapper #jobOffer h2 span{font-size:1.5em;line-height:1.2em;}
		#wrapper #jobOffer h2{background:none;}
	
	/**sidebar et colonne gauche**/
		body .rubrique #sidebar,body .rubrique #global{float:none;width:100%;}
		body .shopLogo{text-align:left;padding:10px 0;}
	
	/*contenu autre*/
		body .additionalContent #sidebar,body  .mallContent #sidebar,.additionalContent #global, .mallContent #global{float:none;}
		.additionalContent #global{width:96%;}
		body .additionalContent #sidebar,body .mallContent #sidebar,.mallContent #global{width:100%;}
		.additionalContent #sidebar ,.mallContent #sidebar {margin:0 0 20px;}
		.additionalContent #sidebar  #sidebar-nav>strong,.mallContent #sidebar  #sidebar-nav>strong{width:90%;background:url('../images/bullet.png') no-repeat -146px -450px #e1e1e1;margin:0 0 5px;padding:6px 1% 6px 9%;text-transform:none;font-weight:300;cursor:pointer;font-size:2em;color:#000 !important;}	
		.additionalContent #sidebar  #sidebar-nav>ul,.mallContent #sidebar  #sidebar-nav>ul{display:none;padding:0 15px;border-bottom:1px solid #ccc;}
		
	/*gestion listing article*/
		#listingArticles .bloc-3 li{left: 7%;top: 3%;}
		#listingArticles .bloc-3 li + li{left: 37%;top: 5%;}
		#listingArticles .bloc-3 li + li + li{right: 7%;top: 3%}		
		#listingArticles .bloc-5 li{left:9%;top:2%;}
		#listingArticles .bloc-5 li+li{left:36%;top:3%;}
		#listingArticles .bloc-5 li+li+li{left:63%;top:2%;}
		#listingArticles .bloc-5 li+li+li+li{left:22%;top:23%;}
		#listingArticles .bloc-5 li+li+li+li+li{left:48%;top:21%;}	
	/*gestion article*/
		body article #global > img{margin-top:15px;}
		body article #sidebar .accessShop{display:none;}
		article #global .accessShop{display:block;margin:25px 0 25px;}
		body article #global #diapo-content li{transform: rotate(0);background:none;border:3px solid #f7f7f8;padding:0;}
		body article #global #diapo-content li img{width:100%;display:block;}
	/*liste envie*/
		#wishBloc img{display:none;}
		#wishBloc >div{float:none;width:100%;}
		#wishBloc .main-link{margin:0 2px 10px;}
	
	/*modal NL*/
		body #modal-newsletter img{display:none;}
		body #modal-newsletter{padding:1.5%;}
		body #modal-newsletter span{margin:0;}
	/*footer*/
		body footer nav ul li{line-height:1.7em;}
		body #container footer .right{margin-right:0;padding:0;background:none;}
		body #container .no-app-content{padding:50px 25px;}
		body #container .no-app-content .left form{float:none;clear:both;margin:0;padding:30px 0 0;width:100%;}
		body #container .no-app-content .left form input[type="submit"]{top:31px;}

	#mobile-app-download {
		display: block;

		background: #f7f7f8;

		font-size: 11px;
		line-height: 43px;
		color: #666666;
		font-family: roboto;
		text-align: center;
	}

	#mobile-app-download a {
		color: inherit;
		text-decoration: underline;
	}
}

/**Tablette + petite et new gen mobile**/
@media only screen and (min-width:481px) and (max-width:780px){

    /**bloc catalogue**/
    body #blocCatalogue #accessCatalogue> li{display: inline;margin: 0 10px 0 0;padding:0;}
    body #blocCatalogue .int .carousel-catalogue{top:70px;}
    body #blocCatalogue{height:455px;}

    /*gestion article*/
    body #wrapper article #diapo-content{height:300px;}
    article #global .accessShop >div{width:46%;display:inline-block;padding:1.5%;}
    article #global .accessShop >div+ div{margin-left:1%;}

    /*gestion listing article et bons plan*/
    #listingArticles .item{width:48%;}
    #listingArticles .gutter-sizer{width:4%;}
    .grid-sizer{width:48%;}
    body .rubrique #couponsListing .item,
    body .rubrique #mylist #couponsListing .item{width:46%;}
    body .rubrique #couponsListing .item.fullsizePromo,
    body .rubrique #couponsListing .item.fulldetailPromo{width:99% !important;min-height:inherit;}
    body .item .back {padding: 15px 5px 60px;max-width: 700px;}
    /*cine*/
    body #seances img{float:left;margin:0 2% 2% 0;width:50%;}
    body #seances table{width:48%;}

    /*rubrique shopping*/
    body .shopListing ul li,body .shopListing .column-type-2 li {width:32.5%;}
    body .shopListing .column-type-2{width:100%;}
    body .filter select{margin:10px 0 0;width:50%;}

    /*footer*/
    body #container footer .right,
    body #container footer .left{width:46%;}
}

/**MOBILE**/
@media only screen and (max-width:480px){
    /*blocs out*/
    body #accessCatalogue li >span,#blocCatalogue #accessCatalogue >li >a,body .shopLogo,body #blocMyAccount p,#autoCompletion,header #accessClub,#topbanner,.hidden-phone,#intersticiel{display:none !important;}
    /*font-size*/
    #listingArticles li p,body article p,body #wrapper article h2,body #comment p,#details span,body .globalInfos div p,body .globalInfos ul li,body .accessShop li p:first-child,body #movie p,body #movie b,body #movie ul li{font-size:1.167em;}
    body article p i,body article p b,body article p a{font-size:1em;}
    body .linksTo a{line-height:1.3em;}
    body #servicesContent li h2{font-size:1.2em;}

    /*GESTION HOME*/
    body #servicesContent,body #blocCatalogue,.home #listingArticles,.home .scroll-list,.home h2,body #container footer .right{display:none;}
    body #mobile-category {display:block;}

	/*gestion filtre*/
		body .filter{background:none;padding:0;text-align:left;}
		body .filter li{display:block;margin:0;padding:0 0 15px; 
		border-bottom:1px dotted #555;}
		body .filter li+li{padding-top:15px;}
		body .filter li a{text-transform:uppercase;display:block;background:url('../images/bullet.png') no-repeat -140px -459px;padding:0 10px 0 40px;}
		body .filter li:last-child select,body .filter li:last-child {display:none;}
	
	/*rubrique shopping*/
		.rubrique > .carousel-catalogue {height: 0 !important;padding: 0;visibility: hidden;}
		.shopListing + .shopListing + .carousel-catalogue,.shopListing:last-child  {margin: 0 0 70px;}	
		body .shopListing{padding:0;border:none !important;}
		body .shopListing ul li{width:80%;padding:4px 10%;}
		body .shopListing .column-type-2{width:100%;}
		body .shopListing ul li a{font-size:1.4em;}
		body .shopListing h2,#generalServices >li h2{width:90%;background:url('../images/bullet.png') no-repeat -146px -450px #e1e1e1;margin:0 0 5px;padding:6px 1% 6px 9%;text-transform:none;font-weight:300;cursor:pointer;clear:both;}

		body .shopListing >ul,body .shopListing .column-type-2{display:none;}
		
	/**form**/
		body #club-inscription .contentForm,body #club-inscription .otherForm{float:none;width:84%;border:none;}
		#global .survey-view form input[type="text"], #global .survey-view form select, #global .contentForm input[type="text"], #global .contentForm select, .globalForm textarea,#contactUs .contentForm textarea, .survey-view textarea{width:94%;}
		
	/**cine**/
		body #seances{margin:0 0 15px;}
		body #seances img{max-width:none;}
		body #seances table{max-width:none;}
		body #movie .movieVisu{float:none;width:auto;padding:30px 0;}
		body #global >#listingMovies>li{width:46%;}
		
	/*gestion listing article*/
		body .item{width:100% !important;}
		body .gutter-sizer{width:0% !important;}

    /*gestion filtre*/
    body .filter{background:none;padding:0;text-align:left;}
    body .filter li{display:block;margin:0;padding:0 0 15px;
        border-bottom:1px dotted #555;}
    body .filter li+li{padding-top:15px;}
    body .filter li a{text-transform:uppercase;display:block;background:url('../images/bullet.png') no-repeat -140px -459px;padding:0 10px 0 40px;}
    body .filter li:last-child select,body .filter li:last-child {display:none;}

    /*rubrique shopping*/
    .rubrique > .carousel-catalogue {height: 0 !important;padding: 0;visibility: hidden;}
    .shopListing + .shopListing + .carousel-catalogue,.shopListing:last-child  {margin: 0 0 70px;}
    body .shopListing{padding:0;border:none !important;}
    body .shopListing ul li{width:80%;padding:4px 10%;}
    body .shopListing .column-type-2{width:100%;}
    body .shopListing ul li a{font-size:1.4em;}
    body .shopListing h2,#generalServices >li h2{width:90%;background:url('../images/bullet.png') no-repeat -146px -450px #e1e1e1;margin:0 0 5px;padding:6px 1% 6px 9%;text-transform:none;font-weight:300;cursor:pointer;clear:both;}

    body .shopListing >ul,#generalServices li  ul,body .shopListing .column-type-2{display:block;} /* Bug fixed link mobile  */

    /*pages services*/
    #slide-services li {
        /*height:169px;*/
        /* BUG FIXED PAGE SERVICE NL*/
    }
    #slide-services-pager li a {
        padding: 15px 0px;
        font: 1em "roboto";
    }
    #generalServices{margin:30px 0 50px;}
    #generalServices >li {padding:0 0 5px;}
    #generalServices >li +li {border:none;padding:0 0 5px;}
    #generalServices > li > ul > li{min-height:35px;}

    /**form**/
    body #club-inscription .contentForm,body #club-inscription .otherForm{float:none;width:84%;border:none;}
    #global .survey-view form input[type="text"], #global .survey-view form select, #global .contentForm input[type="text"], #global .contentForm select, .globalForm textarea,#contactUs .contentForm textarea, .survey-view textarea{width:94%;}

    /**cine**/
    body #seances{margin:0 0 15px;}
    body #seances img{max-width:none;}
    body #seances table{max-width:none;}
    body #movie .movieVisu{float:none;width:auto;padding:30px 0;}
    body #global >#listingMovies>li{width:46%;}

    /*gestion listing article*/
    body .item{width:100% !important;}
    body .gutter-sizer{width:0% !important;}

    /**fiche boutique**/
    body #socialFeed>div{float:none !important;margin:0 auto 30px !important;}
    body #addContent > li > h2 { display: inline-block;font-size: 1.2em; line-height: 1.8em;padding: 0 10px;}
    #addContent .subContent{top:100px;padding-bottom:0;}

    /**page horaire acces**/
    body .globalInfos div{float:none;width:100%;}

    /**page liste catalogue et fiche catalogue**/
    body #wrapper .catalogueDetails img,body #wrapper .catalogueDetails>div,#wrapper .catalogueDetails > div > div{display:block;width:100%;}
    #wrapper .catalogueDetails h2{margin:10px 0;}
    body #wrapper .catalogueDetails a{float:none;margin:0 0 10px;}
    body #wrapper .catalogueDetails .main-link{display:block;float:none;margin:10px auto;}

    /*gestion filtre*/
    body .filter{background:none;padding:0;text-align:left;}
    body .filter li{display:block;margin:0;padding:0 0 15px;
        border-bottom:1px dotted #555;}
    body .filter li+li{padding-top:15px;}
    body .filter li a{text-transform:uppercase;display:block;background:url('../images/bullet.png') no-repeat -140px -459px;padding:0 10px 0 40px;}
    body .filter li:last-child select,body .filter li:last-child {display:none;}

    /*rubrique shopping*/
    .rubrique > .carousel-catalogue {height: 0 !important;padding: 0;visibility: hidden;}
    .shopListing + .shopListing + .carousel-catalogue,.shopListing:last-child  {margin: 0 0 70px;}
    body .shopListing{padding:0;border:none !important;}
    body .shopListing ul li{width:80%;padding:4px 10%;}
    body .shopListing .column-type-2{width:100%;}
    body .shopListing ul li a{font-size:1.4em;}
    body .shopListing h2,#generalServices >li h2{width:90%;background:url('../images/bullet.png') no-repeat -146px -450px #e1e1e1;margin:0 0 5px;padding:6px 1% 6px 9%;text-transform:none;font-weight:300;cursor:pointer;clear:both;}

    body .shopListing >ul,#generalServices li  ul,body .shopListing .column-type-2{display:block;} /* Bug fixed link mobile  */

    /*pages services*/
    #generalServices{margin:30px 0 50px;}
    #generalServices >li {padding:0 0 5px;}
    #generalServices >li +li {border:none;padding:0 0 5px;}
    #generalServices > li > ul > li{min-height:35px;}

    /**form**/
    body #club-inscription .contentForm,body #club-inscription .otherForm{float:none;width:84%;border:none;}
    #global .survey-view form input[type="text"], #global .survey-view form select, #global .contentForm input[type="text"], #global .contentForm select, .globalForm textarea,#contactUs .contentForm textarea, .survey-view textarea{width:94%;}

    /**cine**/
    body #seances{margin:0 0 15px;}
    body #seances img{max-width:none;}
    body #seances table{max-width:none;}
    body #movie .movieVisu{float:none;width:auto;padding:30px 0;}
    body #global >#listingMovies>li{width:46%;}

    /*gestion listing article*/
    body .item{width:100% !important;}
    body .gutter-sizer{width:0% !important;}

    /*gestion article*/
    body .shareArticle p, body .shareArticle >ul{float:none;display:block;}
    body .shareArticle {height:115px;text-align:center;}
    .shareArticle li{float:none;display:inline-block;}
    body .shareArticle .price{border:none;text-align:center;margin:0;}
    body .shareArticle .add-wishlist{margin:8px auto;display:inline-block;float:none;}
    body #wrapper article #diapo-content{height:180px;}
    body #carousel-diapo{float:none;width:100%;}
    body #carousel-diapo li{width:65px;}
    body .content figure{clear:both;}
    article #global .accessShop >div{width:97%;padding:1.5%;}
    .accessShop div p+p{display:inline;background:url("../images/bullet.png") no-repeat -5px 2px;padding:0 0 0 10px;text-decoration: underline;}
    .accessShop div p+p strong{display:none;}
    .accessShop > div a{padding:0 0 0 20px;}
    .accessShop > div a + a{border:none;}
    body #slider h2{top:25%;right:10px;}
    #comment ul li{font-size:1em;padding-left:10px;background:none;}
    #comment ul li+li{margin-left:13px;}
    #comment form textarea{height:80px;}

    /*catalogue rubrique*/
    body .rubrique > .listingCatalogue{padding:4% 2%;width:96%;}
    body .rubrique > .listingCatalogue li{width:46%;margin:0 2% 15px;}
    body .rubrique > .listingCatalogue li>p,body .rubrique > .listingCatalogue li>a>p{display:none;}
    .rubrique > .listingCatalogue li{height:auto;}
    .listingCatalogue li strong{display:none;}
    #blocCatalogue li h3, .rubrique > .listingCatalogue li h2, .rubrique > .listingCatalogue li h3, #mylist .listingCatalogue li h2, #mylist .listingCatalogue li h3{display:none;}
    .rubrique > .listingCatalogue li img{border:none;}

    /*liste envie*/
    #wishBloc .main-link{display:block;}
    #wishBloc > div form p{width:50%;}
    #wishBloc > div form .last{width:100%;}
    #wishBloc > div form .last input[type="text"]{width:95%;}
    body #mylist .modify{top:46px;}
    body #wishBloc input[type="submit"]{width:100%;margin-left:0;}

    /**bons plans**/
    body #couponsListing .item.fullsizePromo,
    body #couponsListing .item.fulldetailPromo{min-height:inherit;}
    body #couponsListing .item.fulldetailPromo .back{min-height:325px;}
    body .slide-logo li img{max-width:100px;}
    #couponsListing .item{min-height:initial;border-left:none;border-right:none;border-top:none;}
    #couponsListing .item .front {padding:0 0 80px;}
    #couponsListing .fulldetailPromo .front, #couponsListing .fullsizePromo .front{padding:0 0 30px !important;}
    .accessOffer > a{bottom:30px;}
    .item .back{max-width:300px;padding:15px 10px 60px;margin-top: 5px !important;max-height: 400px; overflow-y: scroll;}
    .open-menu{display:block !important;}

    /*recherche*/
    .resultShop li{height:auto;margin:0 0 30px;}
    body .resultShop img{float:none;}
    .resultShop strong{margin:5px 0 0;display:block;}
    .resultShop li>p+p{display:inline;background:url("../images/bullet.png") no-repeat -5px 4px;padding:0 0 0 10px;margin:0 6px 0 0;text-decoration:underline;}
    .resultShop a p{margin:0 6px 0 0;float:none;display:inline;}

    /**modal**/
    #modal-inscription{height: 480px;margin-top: 5px !important;overflow-y: scroll;}
    #create-inscription, #connexion{float:none;width:89%;border-right:none;clear:both;}
    #modal-inscription #create-inscription > span{margin-bottom:50px;}
    #create-inscription > span.links{font-size: 1em;left: 5%;text-align: left;top: 40px;width: 94%;}
    #modal-newsletter span{font-size:1.5em;padding:7px 0 0;}
    #modal-newsletter p{margin:15px 0;}
    #modal-inscription  input[type="submit"]{float:none;width:100%;}
    body #modal-inscription #fb-connect{padding:30px 0;clear:both;width:90%;text-align:center;}

    /*footer*/
    body #container footer .left,
    body #container footer .right{float:none;width:100%;margin-bottom:20px;}
    body #container footer .right .google{float:right;margin:0 0 10px;}
    body #container footer .right .apple{float:left;margin:0 0 20px;}
    #container footer{padding: 20px 20px 50px;margin-top:15px;}
    footer nav{clear:both;}
    body footer nav ul li{display:block;}
    #container footer .left h2{ margin-bottom: 15px; padding-bottom: 0;}

    /*bouton accès filtre home rubrique*/
    #wrapper .access-filter {border-bottom:1px solid #ccc;padding-bottom:10px;}
    #wrapper .access-filter span{background:url('../images/bullet.png') no-repeat right -803px #fff;padding-right:28px; cursor:pointer;}
    #wrapper h1 + #topbanner + .filter,#wrapper h1 + .filter{display:none;}

    /*contenus additionel*/
    .additionalContent #sidebar, .mallContent #sidebar{display:none;}
    .globalInfos > div{margin-bottom:30px;}
    #cookies-infos{width:100%;}
}