<!DOCTYPE HTML>
<html>
    <head>
        <title>Tunisia Mall</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="Minimal Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
              Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <link href="{{asset('bundles/myappadmin/css/bootstrap.min.css')}}" rel='stylesheet' type='text/css' />
        <!-- Custom Theme files -->
        <link href="{{asset('bundles/myappadmin/css/style.css')}}" rel='stylesheet' type='text/css' />
        <link href="{{asset('bundles/myappadmin/css/font-awesome.css')}}" rel="stylesheet"> 
        <script src="{{asset('bundles/myappadmin/js/jquery.min.js')}}"></script>
        <!-- Mainly scripts -->
        <script src="{{asset('bundles/myappadmin/js/jquery.metisMenu.js')}}"></script>
        <script src="{{asset('bundles/myappadmin/js/jquery.slimscroll.min.js')}}"></script>
        <!-- Custom and plugin javascript -->
        <link href="{{asset('bundles/myappadmin/css/custom.css')}}" rel="stylesheet">
        <script src="{{asset('bundles/myappadmin/js/custom.js')}}"></script>
        <script src="{{asset('bundles/myappadmin/js/screenfull.js')}}"></script>
        <script>
                    .snav - label
            {
            height:267px;
                    width:267px;
                    background - color:#274795;
                    margin:auto;
                    margin - left:325px;
                    text - align:center;
                    vertical - align: middle;
                    display: inline - block;
            }
        </script>
        <script>


            }
            $(function() {
            $('#supported').text('Supported/allowed: ' + !!screenfull.enabled);
                    if (!screenfull.enabled) {
            return false;
            }



            $('#toggle').click(function() {
            screenfull.toggle($('#container')[0]);
            });
            });</script>

        <!----->

        <!--pie-chart--->
        <script src="{{asset('bundles/myappadmin/js/pie-chart.js')}}" type="text/javascript"></script>
        <script type="text/javascript">

                    $(document).ready(function() {
            $('#demo-pie-1').pieChart({
            barColor: '#3bb2d0',
                    trackColor: '#eee',
                    lineCap: 'round',
                    lineWidth: 8,
                    onStep: function(from, to, percent) {
                    $(this.element).find('.pie-value').text(Math.round(percent) + '%');
                    }
            });
                    $('#demo-pie-2').pieChart({
            barColor: '#fbb03b',
                    trackColor: '#eee',
                    lineCap: 'butt',
                    lineWidth: 8,
                    onStep: function(from, to, percent) {
                    $(this.element).find('.pie-value').text(Math.round(percent) + '%');
                    }
            });
                    $('#demo-pie-3').pieChart({
            barColor: '#ed6498',
                    trackColor: '#eee',
                    lineCap: 'square',
                    lineWidth: 8,
                    onStep: function(from, to, percent) {
                    $(this.element).find('.pie-value').text(Math.round(percent) + '%');
                    }
            });
            });</script>
        <!--skycons-icons-->
        <script src="{{asset('bundles/myappadmin/js/skycons.js')}}"></script>
        <!--//skycons-icons-->
    </head>
    <body>

        <div id="wrapper">

            <!----->
            <nav class="navbar-default navbar-static-top" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <h1> <a class="navbar-brand" href="http://localhost/TunisiaMall/web/app_dev.php/home">Tunisia Mall</a></h1>         
                </div>
                <div class=" border-bottom">
                    <div class="full-left">
                        <section class="full-top">
                            <button id="toggle"><i class="fa fa-arrows-alt"></i></button>	
                        </section>
                        <div class="clearfix"> </div>
                    </div>


                    <!-- Brand and toggle get grouped for better mobile display -->

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="drop-men" >
                        <ul class=" nav_1">
                            <a href="#" class="dropdown-toggle dropdown-at" data-toggle="dropdown"><span class=" name-caret">Admin</span><img src="{{asset('bundles/myappadmin/images/wo.jpg')}}"></a>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                    <div class="clearfix">

                    </div>

                    <div class="navbar-default sidebar" role="navigation">
                        <div class="sidebar-nav navbar-collapse" >
                            <ul class="nav" id="side-menu">

                               
                                <li>
                                    <a href="{{path('my_app_admin_clients')}}" class=" hvr-bounce-to-right"><i class="fa fa-indent nav_icon"></i> <span class="nav-label">Clients</span></a>
                                </li>
                                <li>
                                    <a href="{{path('my_app_admin_responsables')}}" class=" hvr-bounce-to-right" ><i class="fa fa-indent nav_icon"></i> <span class="nav-label" >Responsable <center>d'enseigne</center></span> </a>
                                </li>
                                 <li>
                                    <a href="{{path('my_app_admin_homepage')}}" class=" hvr-bounce-to-right"><i class="fa fa-indent nav_icon "></i><span class="nav-label">Statistiques</span> </a>
                                </li>

                            </ul>
                        </div>
                    </div>

            </nav>
            <div id="page-wrapper" class="gray-bg dashbard-1">
                <div class="content-main">

                    <!--banner-->	
                    <div class="banner">

                        <h2>
                            <a>Home</a>
                            <i class="fa fa-angle-right"></i>
                           
                        </h2>
                    </div>
                    <!--//banner-->
                    <div class="blank">
                        <div class="blank-page">
                            {% block  container %} 


                            {% endblock container %}
                        </div>
                    </div>
                    <div class="copy">
                        <p> &copy; 2016 Tunisia Mall. All Rights Reserved | <a href="#" target="_blank">Tunisa Mall</a> </p>	    </div>
                    <!----Calender -------->
                    <link rel="stylesheet" href="{{asset('bundles/myappadmin/css/clndr.css')}}" type="text/css" />
                    <script src="{{asset('bundles/myappadmin/js/underscore-min.js')}}" type="text/javascript"></script>
                    <script src= "{{asset('bundles/myappadmin/js/moment-2.2.1.js')}}" type="text/javascript"></script>
                    <script src="{{asset('bundles/myappadmin/js/clndr.js')}}" type="text/javascript"></script>
                    <script src="{{asset('bundles/myappadmin/js/site.js')}}" type="text/javascript"></script>
                    <!----End Calender -------->
                </div>

                <div class="clearfix"> </div>
            </div>


        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!---->
<!--scrolling js-->
<script src="{{asset('bundles/myappadmin/js/jquery.nicescroll.js')}}"></script>
<script src="{{asset('bundles/myappadmin/js/scripts.js')}}"></script>
<!--//scrolling js-->
<script src="{{asset('bundles/myappadmin/js/bootstrap.min.js')}}"></script>

</body>
</html>

