{% extends "FOSUserBundle::layout_front_office.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block container %}
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
    {% if targetUrl %}
    <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
    {% endif %}
{% endblock container %}
