
.b-modal {
    width: 100%;
    height: 100%;
}

.habillage_pub {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 50%;
    width: 1912px;
    height: auto;
    margin: 0 0 0 -956px;
    overflow: hidden;
}

#mainNav > ul {
    background: #000;
}


.intersticiel_video_home_container .b-modal > a, .intersticiel_video_general_container .b-modal > a {
    position: absolute;
    top: 5%;
    right: 12%;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 2em;
    color: #000;
}

.intersticiel_home, .intersticiel_general {
    z-index: 20;
    position: absolute;
    width: 800px;
    margin: auto;
}

.intersticiel_video_home, .intersticiel_video_general {
    z-index: 1000;
    top:120px!important;
    position: absolute;
    width: 800px;
    margin: auto;
}

#content_video_home, #content_video_general {
 position: relative;
 margin-top: -554px;
 margin-left: 80px;
 z-index: 1000;
}

#container {
  position: relative;
  width: 1220px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 14px;
}
@media screen and (max-width:1220px) {

    #container {
      position: inherit;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      padding-right: 14px;
    }
}
@media screen and (orientation: landscape){

    #ad_wrapper > img{
        width: 100%!important;
        height: auto!important;

    }
}
@media screen and (max-width:1024px){
    .intersticiel_video_home_container,.intersticiel_video_general_container  {
        display: none;
    }
    
    #ad_wrapper > img{
        width: 100%!important;
        height: auto!important;

    }

    .intersticiel_video_home, .intersticiel_video_general {
        top: 32%!important;
    }
}

