{% extends "MyAppAdminBundle::layout.html.twig" %}
{% block container %}
    <div class="table-responsive">          
        <table class="table">
            <thead>
                <tr>
                    <th> nom</th>
                    <th> prenom</th>
                    <th> user name</th>
                    <th> Email</th>
                    <th colspan="2">Action</th>
                </tr>
                {% for client in clients %}
                    <tr>
                        <td> {{client.nom}}</td>
                        <td> {{client.prenom}}</td>
                        <td> {{client.username}}</td>
                        <td> {{client.email}}</td>
                        <td> <a href="{{path('my_app_admin_delete_client',{'id':client.id})}}" class="btn btn-danger" >Supprimer</a></td>
                        {%if client.locked == true%}
                            <td> <a href="{{path('my_app_admin_debloquer_client',{'id':client.id})}}" class="btn btn-info" >Activer</a></td>
                        {%else%}
                            <td> <a href="{{path('my_app_admin_bloquer_client',{'id':client.id})}}" class="btn btn-danger" >Bloquer</a></td>
                        {% endif %}
                            
                    </tr>
                {% endfor %}

            </thead>
        </table>
    </div>

{% endblock container %}

