{% extends "MyAppAdminBundle::layout.html.twig" %}
{% block container %}
    <div class="table-responsive">          
        <table class="table">
            <thead>
                <tr>
                    <th> nom</th>
                    <th> prenom</th>
                    <th> user name</th>
                    <th> Email</th>
                    <th colspan="2">Action</th>
                </tr>
                {% for responsable in responsables %}
                    <tr>
                        <td> {{responsable.nom}}</td>
                        <td> {{responsable.prenom}}</td>
                        <td> {{responsable.username}}</td>
                        <td> {{responsable.email}}</td>
                        <td> <a href="{{path('my_app_admin_delete_responsable',{'id':responsable.id})}}" class="btn btn-danger" >Supprimer</a></td>
                        {%if responsable.locked == true%}
                            <td> <a href="{{path('my_app_admin_debloquer_responsable',{'id':responsable.id})}}" class="btn btn-info" >Activer</a></td>
                        
                        {% endif %}
                    </tr>
                {% endfor %}

            </thead>
        </table>
    </div>

{% endblock container %}

