{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
{{ form_row(form._token) }}
<div class="login-mail">
    {{ form_widget(form.current_password,{ 'attr': {'placeholder': 'ancien mot de passe'} }) }}
    <i class="fa fa-user"></i>
</div>
{% for passwordField in form.plainPassword %}
    <div class="login-mail">
        {% if loop.index == 1 %}
            {{form_widget(passwordField,{ 'attr': {'placeholder': 'Mot de passe'} })}}
            <i class="fa fa-lock"></i>
        {%else%}
            {{form_widget(passwordField,{ 'attr': {'placeholder': 'confirmation'} })}}
            <i class="fa fa-lock"></i>
        {%endif%}
    </div>
{% endfor %}
<div class="login-do">
    <label class="hvr-shutter-in-horizontal login-sub">
        <input type="submit" id="_submit" class="btn btn-success" name="_submit" value="Modifier mot de passe">
    </label>
</div>
{{ form_end(form) }}
